<AddressBaseDefs>
  <!--<AddressBase baseName="EAPWrite" device="W" baseAddress="0000"></AddressBase>-->
  <!--AddressBase baseName="EAP_W" device="W" baseAddress="0000">
  </AddressBase-->
  <!--**************************************************************************************************************************-->
  <!--***********************************************************BC to Read***********************************************************-->
  <!--**************************************************************************************************************************-->


  <!--________________________OHBC_PORT______________________-->

  <AddressBase baseName="IOPORT01_WRITE" device="D" baseAddress="5061"/>
  <AddressBase baseName="IOPORT02_WRITE" device="D" baseAddress="5065"/>
  <AddressBase baseName="IOPORT03_WRITE" device="D" baseAddress="5069"/>
  <AddressBase baseName="IOPORT04_WRITE" device="D" baseAddress="5073"/>
  <AddressBase baseName="IOPORT05_WRITE" device="D" baseAddress="5077"/>
  <AddressBase baseName="IOPORT06_WRITE" device="D" baseAddress="5081"/>
  <AddressBase baseName="IOPORT07_WRITE" device="D" baseAddress="5085"/>
  <AddressBase baseName="IOPORT08_WRITE" device="D" baseAddress="5089"/>
  <AddressBase baseName="IOPORT09_WRITE" device="D" baseAddress="5093"/>
  <AddressBase baseName="IOPORT10_WRITE" device="D" baseAddress="5097"/>
  <AddressBase baseName="IOPORT11_WRITE" device="D" baseAddress="5101"/>
  <AddressBase baseName="IOPORT12_WRITE" device="D" baseAddress="5105"/>
  <AddressBase baseName="IOPORT13_WRITE" device="D" baseAddress="5109"/>
  <AddressBase baseName="IOPORT14_WRITE" device="D" baseAddress="5113"/>
  <AddressBase baseName="IOPORT15_WRITE" device="D" baseAddress="5117"/>
  <AddressBase baseName="IOPORT16_WRITE" device="D" baseAddress="5121"/>
  <AddressBase baseName="IOPORT17_WRITE" device="D" baseAddress="5125"/>
  <AddressBase baseName="IOPORT18_WRITE" device="D" baseAddress="5129"/>
  <AddressBase baseName="IOPORT19_WRITE" device="D" baseAddress="5133"/>
  <AddressBase baseName="IOPORT20_WRITE" device="D" baseAddress="5137"/>
  <AddressBase baseName="IOPORT01_READ" device="D" baseAddress="6401"/>
  <AddressBase baseName="IOPORT02_READ" device="D" baseAddress="6513"/>
  <AddressBase baseName="IOPORT03_READ" device="D" baseAddress="6625"/>
  <AddressBase baseName="IOPORT04_READ" device="D" baseAddress="6737"/>
  <AddressBase baseName="IOPORT05_READ" device="D" baseAddress="6849"/>
  <AddressBase baseName="IOPORT06_READ" device="D" baseAddress="6961"/>
  <AddressBase baseName="IOPORT07_READ" device="D" baseAddress="7073"/>
  <AddressBase baseName="IOPORT08_READ" device="D" baseAddress="7185"/>
  <AddressBase baseName="IOPORT09_READ" device="D" baseAddress="7297"/>
  <AddressBase baseName="IOPORT10_READ" device="D" baseAddress="7409"/>
  <AddressBase baseName="IOPORT11_READ" device="D" baseAddress="7521"/>
  <AddressBase baseName="IOPORT12_READ" device="D" baseAddress="7633"/>
  <AddressBase baseName="IOPORT13_READ" device="D" baseAddress="7745"/>
  <AddressBase baseName="IOPORT14_READ" device="D" baseAddress="7857"/>
  <AddressBase baseName="IOPORT15_READ" device="D" baseAddress="7969"/>
  <AddressBase baseName="IOPORT16_READ" device="D" baseAddress="8081"/>
  <AddressBase baseName="IOPORT17_READ" device="D" baseAddress="8193"/>
  <AddressBase baseName="IOPORT18_READ" device="D" baseAddress="8305"/>
  <AddressBase baseName="IOPORT19_READ" device="D" baseAddress="8417"/>
  <AddressBase baseName="IOPORT20_READ" device="D" baseAddress="8529"/>

  <!--<AddressBase baseName="OHB100T0A_RFID" device="D" baseAddress="25820"/>
  <AddressBase baseName="OHB100T0A_BOX_CST_ID" device="D" baseAddress="29040"/>-->
<!--
  <AddressBase baseName="OHBF00T01_READ" device="D" baseAddress="27409"/>
  <AddressBase baseName="OHBF00T01_WRITE" device="D" baseAddress="25097"/>
  <AddressBase baseName="OHBF00T01_RFID" device="D" baseAddress="25836"/>
  <AddressBase baseName="OHBF00T01_BOX_CST_ID" device="D" baseAddress="29072"/>

  <AddressBase baseName="OHBF00A08_READ" device="D" baseAddress="26401"/>
  <AddressBase baseName="OHBF00A08_WRITE" device="D" baseAddress="25061"/>
  <AddressBase baseName="OHBF00A08_RFID" device="D" baseAddress="25800"/>
  <AddressBase baseName="OHBF00A08_BOX_CST_ID" device="D" baseAddress="29000"/>

  <AddressBase baseName="OHBF00A07_READ" device="D" baseAddress="26513"/>
  <AddressBase baseName="OHBF00A07_WRITE" device="D" baseAddress="25065"/>
  <AddressBase baseName="OHBF00A07_RFID" device="D" baseAddress="25804"/>
  <AddressBase baseName="OHBF00A07_BOX_CST_ID" device="D" baseAddress="29008"/>

  <AddressBase baseName="OHBF00A06_READ" device="D" baseAddress="26625"/>
  <AddressBase baseName="OHBF00A06_WRITE" device="D" baseAddress="25069"/>
  <AddressBase baseName="OHBF00A06_RFID" device="D" baseAddress="25808"/>
  <AddressBase baseName="OHBF00A06_BOX_CST_ID" device="D" baseAddress="29016"/>

  <AddressBase baseName="B7_OHBLINE3_T02_READ" device="D" baseAddress="26737"/>
  <AddressBase baseName="B7_OHBLINE3_T02_WRITE" device="D" baseAddress="25073"/>
  <AddressBase baseName="B7_OHBLINE3_T02_RFID" device="D" baseAddress="25812"/>
  <AddressBase baseName="B7_OHBLINE3_T02_BOX_CST_ID" device="D" baseAddress="29024"/>
-->
  <!--System info-->
  <AddressBase baseName="MASTER_PLC_SYSTEM_INFO" device="D" baseAddress="25001"/>

</AddressBaseDefs>
