<EQMapToValueEvent>

  <EQObject id="OHT301T01" cate="Port" MPLCName="MPLC" isValueEventTrigger="Y">
    <ValueEvent baseName="IOPORT01_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="IOPORT01_WRITE" relativeName="PORT_WRITE"></ValueEvent>
  </EQObject>
  <EQObject id="OHT301T02" cate="Port" MPLCName="MPLC" isValueEventTrigger="Y">
    <ValueEvent baseName="IOPORT02_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="IOPORT02_WRITE" relativeName="PORT_WRITE"></ValueEvent>
  </EQObject>
  <EQObject id="OHT301T03" cate="Port" MPLCName="MPLC" isValueEventTrigger="Y">
    <ValueEvent baseName="IOPORT03_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="IOPORT03_WRITE" relativeName="PORT_WRITE"></ValueEvent>
  </EQObject>
  <EQObject id="OHT301T04" cate="Port" MPLCName="MPLC" isValueEventTrigger="Y">
    <ValueEvent baseName="IOPORT04_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="IOPORT04_WRITE" relativeName="PORT_WRITE"></ValueEvent>
  </EQObject>
  <EQObject id="OHT301T05" cate="Port" MPLCName="MPLC" isValueEventTrigger="Y">
    <ValueEvent baseName="IOPORT05_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="IOPORT05_WRITE" relativeName="PORT_WRITE"></ValueEvent>
  </EQObject>
  <EQObject id="OHT301T06" cate="Port" MPLCName="MPLC" isValueEventTrigger="Y">
    <ValueEvent baseName="IOPORT06_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="IOPORT06_WRITE" relativeName="PORT_WRITE"></ValueEvent>
  </EQObject>
  <EQObject id="OHT301T07" cate="Port" MPLCName="MPLC" isValueEventTrigger="Y">
    <ValueEvent baseName="IOPORT07_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="IOPORT07_WRITE" relativeName="PORT_WRITE"></ValueEvent>
  </EQObject>
  <EQObject id="OHT301T08" cate="Port" MPLCName="MPLC" isValueEventTrigger="Y">
    <ValueEvent baseName="IOPORT08_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="IOPORT08_WRITE" relativeName="PORT_WRITE"></ValueEvent>
  </EQObject>
  <EQObject id="OHT301T09" cate="Port" MPLCName="MPLC" isValueEventTrigger="Y">
    <ValueEvent baseName="IOPORT09_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="IOPORT09_WRITE" relativeName="PORT_WRITE"></ValueEvent>
  </EQObject>
  <EQObject id="OHT301A01" cate="Port" MPLCName="MPLC" isValueEventTrigger="Y">
    <ValueEvent baseName="IOPORT10_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="IOPORT10_WRITE" relativeName="PORT_WRITE"></ValueEvent>
  </EQObject>
  <EQObject id="OHT301A02" cate="Port" MPLCName="MPLC" isValueEventTrigger="Y">
    <ValueEvent baseName="IOPORT11_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="IOPORT11_WRITE" relativeName="PORT_WRITE"></ValueEvent>
  </EQObject>

  <!--
  <EQObject id="DFX301P1" cate="Port" MPLCName="MPLC" isValueEventTrigger="Y">
    <ValueEvent baseName="IOPORT10_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="IOPORT10_WRITE" relativeName="PORT_WRITE"></ValueEvent>
  </EQObject>
  <EQObject id="DFX301P2" cate="Port" MPLCName="MPLC" isValueEventTrigger="Y">
    <ValueEvent baseName="IOPORT10_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="IOPORT10_WRITE" relativeName="PORT_WRITE"></ValueEvent>
  </EQObject>
-->

  <EQObject id="MASTER_PLC" cate="Port" MPLCName="MPLC" isValueEventTrigger="Y">
    <ValueEvent baseName="MASTER_PLC_SYSTEM_INFO" relativeName="SET_SYSTEM_INFO_TO_MASTER"></ValueEvent>
  </EQObject>



</EQMapToValueEvent>