<ValueDefs>
  <!-- rangeType:'W', 'B', or 'D'。B Type只接受length為1 -->
  <!-- targetType: "String", "Boolean", "UInt16", "UInt16[]", "UInt32", "UInt32[]", or "Boolean[]" -->
  <!-- actionType: "W" or "R". W=Write, R=Read -->
  <!-- baseName: 即AddressBase定義的名稱 -->
  <!-- offset: 相對於AddressBase的偏移值 -->
  <!-- length: 長度 -->
  <!-- startBit & endBit: 0~15，如果有定義此項目，則不允許跨device的情況出現，也就是length必定是1 -->
  <!-- splitLength: 指定分割長度。用於切割讀取或寫入的值。 -->



  <!--**************************************************************************************************************************-->
  <!--************************************************************Write_Word****************************************************-->
  <!--**************************************************************************************************************************-->
  <!--__________Set system info__________-->
  <ValueDef name="TIME_CALIBRATION" scenarioName="PLC_HEARTBEAT" desc="PLC_HEARTBEAT" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="PLC_HEARTBEAT" scenarioName="PLC_HEARTBEAT" desc="PLC_HEARTBEAT" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="MCS_ONLINE" scenarioName="MCS_ONLINE" desc="MCS_ONLINE" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="CST_ID_SET_COMMAND" scenarioName="CST_ID_SET_COMMAND" desc="CST_ID_SET_COMMAND" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="BCD_YEAR_MONTH" scenarioName="BCD_YEAR_MONTH" desc="BCD_YEAR" rangeType="D" targetType="UInt16" actionType="W" />
  <ValueDef name="BCD_DAY_HOUR" scenarioName="BCD_DAY_HOUR" desc="BCD_DAY_HOUR" rangeType="D" targetType="UInt16" actionType="W" />
  <ValueDef name="BCD_MINUTE_SECOND" scenarioName="BCD_MINUTE_SECOND" desc="BCD_MINUTE_SECOND" rangeType="D" targetType="UInt16" actionType="W" />


  <ValueDef name="FAULT_RESET" scenarioName="FAULT_RESET" desc="FAULT_RESET" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="BUZZER_STOP" scenarioName="BUZZER_STOP" desc="BUZZER_STOP" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="REMOTE_RUN" scenarioName="REMOTE_RUN" desc="REMOTE_RUN" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="REMOTE_STOP" scenarioName="REMOTE_STOP" desc="REMOTE_STOP" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="ID_READ_CMD" scenarioName="ID_READ_CMD" desc="ID_READ_CMD" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="OHS_DOOR_OPEN" scenarioName="OHS_DOOR_OPEN" desc="OHS_DOOR_OPEN" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="MOVE_BACK" scenarioName="MOVE_BACK" desc="MOVE_BACK" rangeType="D" targetType="Boolean" actionType="W" />
  <!--<ValueDef name="BOX_IN_OK_MGV" scenarioName="BOX_IN_OK_MGV" desc="BOX_IN_OK_MGV" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="TOGGLE_BOX_COVER" scenarioName="TOGGLE_BOX_COVER" desc="TOGGLE_BOX_COVER" rangeType="D" targetType="Boolean" actionType="W" />-->
  <ValueDef name="OPEN_DOOR_MGV" scenarioName="OPEN_DOOR_MGV" desc="OPEN_DOOR_MGV" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="AREA_SENSOR_CTRL" scenarioName="AREA_SENSOR_CTRL" desc="AREA_SENSOR_CTRL" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="CHANGE_TO_INPUT_AGV" scenarioName="CHANGE_TO_MGV_MODE" desc="CHANGE_TO_MGV_MODE" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="CHANGE_TO_OUTPUT_AGV" scenarioName="CHANGE_TO_AGV_MODE" desc="CHANGE_TO_AGV_MODE" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="CHANGE_TO_INPUT_MODE" scenarioName="CHANGE_TO_INPUT_MODE" desc="CHANGE_TO_INPUT_MODE" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="CHANGE_TO_OUTPUT_MODE" scenarioName="CHANGE_TO_OUTPUT_MODE" desc="CHANGE_TO_OUTPUT_MODE" rangeType="D" targetType="Boolean" actionType="W" />
  <!--<ValueDef name="CHANGE_TO_AGV_MODE" scenarioName="CHANGE_TO_AGV_MODE" desc="CHANGE_TO_AGV_MODE" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="CHANGE_TO_MGV_MODE" scenarioName="CHANGE_TO_MGV_MODE" desc="CHANGE_TO_MGV_MODE" rangeType="D" targetType="Boolean" actionType="W" />-->
  <ValueDef name="BCR_ENABLE_CMD" scenarioName="BCR_ENABLE_CMD" desc="BCR_ENABLE_CMD" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="ASSIGN_CST_ID" scenarioName="ASSIGN_CST_ID" desc="ASSIGN_CST_ID" rangeType="D" targetType="String" actionType="W" />

  <ValueDef name="T1_TIMEOUT" scenarioName="T1_TIMEOUT" desc="T1_TIMEOUT" rangeType="D" targetType="UInt16" actionType="W" />
  <ValueDef name="T2_TIMEOUT" scenarioName="T2_TIMEOUT" desc="T2_TIMEOUT" rangeType="D" targetType="UInt16" actionType="W" />
  <ValueDef name="T3_TIMEOUT" scenarioName="T3_TIMEOUT" desc="T3_TIMEOUT" rangeType="D" targetType="UInt16" actionType="W" />
  <ValueDef name="T4_TIMEOUT" scenarioName="T4_TIMEOUT" desc="T4_TIMEOUT" rangeType="D" targetType="UInt16" actionType="W" />
  <ValueDef name="T5_TIMEOUT" scenarioName="T5_TIMEOUT" desc="T5_TIMEOUT" rangeType="D" targetType="UInt16" actionType="W" />
  <ValueDef name="T6_TIMEOUT" scenarioName="T6_TIMEOUT" desc="T6_TIMEOUT" rangeType="D" targetType="UInt16" actionType="W" />


  <!--OHTC port-->
  <ValueDef name="OP_RUN" scenarioName="OP_AUTO_MODE" desc="OP_AUTO_MODE" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="OP_DOWN" scenarioName="OP_MANUAL_MODE" desc="OP_MANUAL_MODE" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="OP_ERROR" scenarioName="OP_ERROR" desc="OP_ERROR" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="NOW_INPUT_MODE" scenarioName="NOW_INPUT_MODE" desc="NOW_INPUT_MODE" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="NOW_OUTPUT_MODE" scenarioName="NOW_OUTPUT_MODE" desc="NOW_OUTPUT_MODE" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="MODE_CHANGEABLE" scenarioName="MODE_CHANGEABLE" desc="MODE_CHANGEABLE" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="WAIT_IN" scenarioName="WAIT_IN" desc="WAIT_IN" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="WAIT_OUT" scenarioName="WAIT_OUT" desc="WAIT_OUT" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="IS_AUTO_MODE" scenarioName="IS_AUTO_MODE" desc="IS_AUTO_MODE" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="READY_TO_LOAD" scenarioName="LOAD_OK" desc="LOAD_OK" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="READY_TO_UNLOAD" scenarioName="UNLOAD_OK" desc="UNLOAD_OK" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="IS_AGV_MODE" scenarioName="IS_AGV_MODE" desc="IS_AGV_MODE" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="IS_MGV_MODE" scenarioName="IS_MGV_MODE" desc="IS_MGV_MODE" rangeType="D" targetType="Boolean" actionType="R" />


  <ValueDef name="LOAD_POSITION_1" scenarioName="LOAD_POSITION_1" desc="LOAD_POSITION_1" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="LOAD_POSITION_2" scenarioName="LOAD_POSITION_2" desc="LOAD_POSITION_2" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="LOAD_POSITION_3" scenarioName="LOAD_POSITION_3" desc="LOAD_POSITION_3" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="LOAD_POSITION_4" scenarioName="LOAD_POSITION_4" desc="LOAD_POSITION_4" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="LOAD_POSITION_5" scenarioName="LOAD_POSITION_5" desc="LOAD_POSITION_5" rangeType="D" targetType="Boolean" actionType="R" />
  <!-- <ValueDef name="IS_CST_PRESENCE" scenarioName="IS_CST_PRESENCE" desc="IS_CST_PRESENCE" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="AGV_PORT_READY" scenarioName="AGV_PORT_READY" desc="AGV_PORT_READY" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="CAN_OPEN_BOX" scenarioName="CAN_OPEN_BOX" desc="CAN_OPEN_BOX" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="IS_BOX_OPEN" scenarioName="IS_BOX_OPEN" desc="IS_BOX_OPEN" rangeType="D" targetType="Boolean" actionType="R" />-->
  <ValueDef name="BARCODE_READ_DONE" scenarioName="BARCODE_READ_DONE" desc="BARCODE_READ_DONE" rangeType="D" targetType="Boolean" actionType="R" />
  <!--<ValueDef name="CST_PRRESENCE_MISMATCH" scenarioName="CST_PRRESENCE_MISMATCH" desc="CST_PRRESENCE_MISMATCH" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="LOAD_POSITION_7" scenarioName="LOAD_POSITION_7" desc="LOAD_POSITION_7" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="LOAD_POSITION_6" scenarioName="LOAD_POSITION_6" desc="LOAD_POSITION_6" rangeType="D" targetType="Boolean" actionType="R" />-->
  <ValueDef name="CST_TRANSFER_COMPLETE" scenarioName="CST_TRANSFER_COMPLETE" desc="CST_TRANSFER_COMPLETE" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="CST_REMOVE_CHECK" scenarioName="CST_REMOVE_CHECK" desc="CST_REMOVE_CHECK" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="PORTALLINFO" scenarioName="PORTALLINFO" desc="PORTALLINFO" rangeType="D" targetType="UInt16" actionType="R" />

  <ValueDef name="ERROR_CODE" scenarioName="ERROR_CODE" desc="ERROR_CODE" rangeType="D" targetType="UInt16" actionType="R" />

  <!--<ValueDef name="BOX_ID" scenarioName="BOX_ID" desc="BOX_ID" rangeType="D" targetType="String" actionType="R" />-->

  <ValueDef name="LOAD_POSITION_CST_ID_1" scenarioName="LOAD_POSITION_CST_ID_1" desc="LOAD_POSITION_CST_ID_1" rangeType="D" targetType="String" actionType="R" />
  <ValueDef name="LOAD_POSITION_CST_ID_2" scenarioName="LOAD_POSITION_CST_ID_2" desc="LOAD_POSITION_CST_ID_2" rangeType="D" targetType="String" actionType="R" />
  <ValueDef name="LOAD_POSITION_CST_ID_3" scenarioName="LOAD_POSITION_CST_ID_3" desc="LOAD_POSITION_CST_ID_3" rangeType="D" targetType="String" actionType="R" />
  <ValueDef name="LOAD_POSITION_CST_ID_4" scenarioName="LOAD_POSITION_CST_ID_4" desc="LOAD_POSITION_CST_ID_4" rangeType="D" targetType="String" actionType="R" />
  <ValueDef name="LOAD_POSITION_CST_ID_5" scenarioName="LOAD_POSITION_CST_ID_5" desc="LOAD_POSITION_CST_ID_5" rangeType="D" targetType="String" actionType="R" />
  <ValueDef name="RFID_READ_CST_ID" scenarioName="RFID_READ_CST_ID" desc="RFID_READ_CST_ID" rangeType="D" targetType="String" actionType="R" />


  <!--<ValueDef name="FIRE_ALARM" scenarioName="FIRE_ALARM" desc="FIRE_ALARM" rangeType="D" targetType="Boolean" actionType="R" />-->
  <!--
  <ValueDef name="CST_ID" scenarioName="CST_ID" desc="CST_ID" rangeType="D" targetType="String" actionType="R" />
-->



  <!--==========================MTL_TO_OHXC============================-->
  <!--__________Index Area___________-->
  <ValueDef name="MTL_TO_OHXC_ALIVE_INDEX" scenarioName="Index Area" desc="Index Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MTL_TO_OHXC_CURRENT_CAR_ID_INDEX" scenarioName="Index Area" desc="Index Area"
            rangeType="W" targetType="UInt16" actionType="R" />

  <!--__________Handshake Area___________-->
  <ValueDef name="MTL_TO_OHXC_ALARM_REPORT_HS" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MTL_TO_OHXC_REPLY_ALARM_RESET_HS" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MTL_TO_OHXC_MTL_CAR_OUT_REQUEST_HS" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MTL_TO_OHXC_REPLY_OHXC_CAR_OUT_NOTIFY_HS" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK_HS" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />

  <!--__________Current Car ID___________-->
  <ValueDef name="MTL_TO_OHXC_CURRENT_CAR_ID_CAR_ID" scenarioName="Current Car ID" desc="Car ID"
        rangeType="W" targetType="UInt16" actionType="R" />
  <!--__________MTL Car Out Request___________-->
  <!--<ValueDef name="MTL_TO_OHXC_MTL_CAR_OUT_REQUEST_MTL_STATION_ID" scenarioName="MTL Car Out Request" desc="MTL Car Out Request"
          rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MTL_TO_OHXC_MTL_CAR_OUT_ACTION_TYPE" scenarioName="MTL Car Out Request" desc="MTL Car Out Request"
        rangeType="W" targetType="UInt16" actionType="R" />-->
  <ValueDef name="MTL_TO_OHXC_MTL_CAR_OUT_REQUEST_CAR_ID" scenarioName="MTL Car Out Request" desc="MTL Car Out Request"
          rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MTL_TO_OHXC_MTL_CAR_OUT_CANCEL" scenarioName="MTL Car Out Request" desc="MTL Car Out Request"
          rangeType="W" targetType="UInt16" actionType="R" />
  <!--__________Reply OHxC Car Out Notify___________-->
  <ValueDef name="MTL_TO_OHXC_REPLY_OHXC_CAR_OUT_NOTIFY_RETURN_CODE" scenarioName="Reply OHxC Car Out Notify" desc="Reply OHxC Car Out Notify"
            rangeType="W" targetType="UInt16" actionType="R" />
  <!--__________Request Car In Data Check___________-->
  <ValueDef name="MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK_MTL_STATION_ID" scenarioName="Request Car In Data Check" desc="Request Car In Data Check"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK_CAR_ID" scenarioName="Request Car In Data Check" desc="Request Car In Data Check"
            rangeType="W" targetType="UInt16" actionType="R" />
  <!--__________LFT Status__________-->
  <ValueDef name="MTL_TO_OHXC_LFT_STATUS_HAS_VEHICLE" scenarioName="LFT Status" desc="LFT Status"
            rangeType="W" targetType="Boolean" actionType="R" />
  <ValueDef name="MTL_TO_OHXC_LFT_STATUS_STOP_SINGLE" scenarioName="LFT Status" desc="LFT Status"
            rangeType="W" targetType="Boolean" actionType="R" />
  <!--<ValueDef name="MTS_TO_OHXC_MTS_STATUS_HAS_VEHICLE" scenarioName="LFT Status" desc="LFT Status"
          rangeType="W" targetType="Boolean" actionType="R" />
  <ValueDef name="MTS_TO_OHXC_MTS_STATUS_STOP_SINGLE" scenarioName="LFT Status" desc="LFT Status"
            rangeType="W" targetType="Boolean" actionType="R" />-->
  <ValueDef name="MTL_TO_OHXC_LFT_MODE" scenarioName="LFT Status" desc="LFT Status"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MTL_TO_OHXC_LFT_LOCATION" scenarioName="LFT Status" desc="LFT Status"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MTL_TO_OHXC_LFT_MOVING_STATUS" scenarioName="LFT Status" desc="LFT Status"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MTL_TO_OHXC_LFT_ENCODER" scenarioName="LFT Status" desc="LFT Status"
            rangeType="W" targetType="UInt32" actionType="R" />
  <ValueDef name="MTL_TO_OHXC_RAIL_STATUS" scenarioName="LFT Status" desc="LFT Status"
            rangeType="W" targetType="UInt16" actionType="R" />
  <!--<ValueDef name="MTL_TO_OHXC_LFT_VEHICLE_IN_POSITION" scenarioName="LFT Status" desc="LFT Status"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MTL_TO_OHXC_LFT_FRONT_DOOR_STATUS" scenarioName="LFT Status" desc="LFT Status"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MTL_TO_OHXC_LFT_BACK_DOOR_STATUS" scenarioName="LFT Status" desc="LFT Status"
            rangeType="W" targetType="UInt16" actionType="R" />-->
  <!--__________MTL_TO_OHXC_ALARM_REPORT__________-->
  <ValueDef name="MTL_TO_OHXC_ALARM_REPORT_ERROR_CODE" scenarioName="Alarm Report" desc="Alarm Report"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MTL_TO_OHXC_ALARM_REPORT_ERROR_STATUS" scenarioName="Alarm Report" desc="Alarm Report"
            rangeType="W" targetType="UInt16" actionType="R" />

  <!--__________MTL_TO_OHXC_CAR_IN_REQUEST_CANCEL__________-->
  <ValueDef name="MTL_TO_OHXC_CAR_IN_REQUEST_CANCEL_CAR_ID" scenarioName="MTL Car In Cancel" desc="MTL Car In Cancel"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MTL_TO_OHXC_CAR_IN_REQUEST_CANCEL_HS" scenarioName="MTL Car In Cancel" desc="MTL Car In Cancel"
            rangeType="W" targetType="UInt16" actionType="R" />
  <!--__________MTL_TO_OHXC_CAR_OUT_REQUEST_CANCEL_REPLY__________-->
  <ValueDef name="MTL_TO_OHXC_CAR_OUT_REQUEST_CANCEL_REPLY_RETURN_CODE" scenarioName="MTL Car Out Cancel Reply" desc="MTL Car Out Cancel Reply"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MTL_TO_OHXC_CAR_OUT_REQUEST_CANCEL_REPLY_HS" scenarioName="MTL Car Out Cancel Reply" desc="MTL Car Out Cancel Reply"
            rangeType="W" targetType="UInt16" actionType="R" />
  <!--__________MTL_TO_OHXC_MANUAL_CAR_OUT_REQUEST__________-->
  <ValueDef name="MTL_TO_OHXC_MANUAL_CAR_OUT_REQUEST_CAR_ID" scenarioName="Manual Car Out Request" desc="Manual Car Out Request"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MTL_TO_OHXC_MANUAL_CAR_OUT_REQUEST_HS" scenarioName="Manual Car Out Request" desc="Manual Car Out Request"
            rangeType="W" targetType="UInt16" actionType="R" />
  <!--__________MTL_TO_OHXC_MANUAL_CAR_OUT_FINISH__________-->
  <ValueDef name="MTL_TO_OHXC_MANUAL_CAR_OUT_FINISH_CAR_ID" scenarioName="Manual Car Out Finish" desc="Manual Car Out Finish"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MTL_TO_OHXC_MANUAL_CAR_OUT_FINISH_HS" scenarioName="Manual Car Out Finish" desc="Manual Car Out Finish"
            rangeType="W" targetType="UInt16" actionType="R" />

  <!--__________CST Interface OHxC To MTL__________-->
  <ValueDef name="MTL_TO_OHXC_CAR_OUT_SAFETY_CHECK" scenarioName="CST Interface" desc="CAR OUT SAFETY_CHECK" rangeType="B" targetType="Boolean" actionType="R">
  </ValueDef>
  <ValueDef name="MTL_TO_OHXC_CAR_OUT_INTERLOCK" scenarioName="CST Interface" desc="CAR OUT INTERLOCK" rangeType="B" targetType="Boolean" actionType="R">
  </ValueDef>
  <!-- <ValueDef name="MTL_TO_OHXC_U2D_CAR_OUT_ACTION_TYPE_1" scenarioName="CST Interface" desc="ACTION_TYPE" rangeType="B" targetType="Boolean" actionType="R">
  </ValueDef>
  <ValueDef name="MTL_TO_OHXC_U2D_CAR_OUT_ACTION_TYPE_2" scenarioName="CST Interface" desc="ACTION_TYPE" rangeType="B" targetType="Boolean" actionType="R">
  </ValueDef>
  <ValueDef name="MTL_TO_OHXC_U2D_CAR_OUT_ACTION_TYPE_3" scenarioName="CST Interface" desc="ACTION_TYPE" rangeType="B" targetType="Boolean" actionType="R">
  </ValueDef>
  <ValueDef name="MTL_TO_OHXC_U2D_CAR_OUT_ACTION_TYPE_4" scenarioName="CST Interface" desc="ACTION_TYPE" rangeType="B" targetType="Boolean" actionType="R">
  </ValueDef>
  <ValueDef name="MTL_TO_OHXC_U2D_CAR_OUT_ACTION_TYPE_5" scenarioName="CST Interface" desc="ACTION_TYPE" rangeType="B" targetType="Boolean" actionType="R">
  </ValueDef>
-->
  <ValueDef name="MTL_TO_OHXC_CAR_IN_SAFETY_CHECK" scenarioName="CST Interface" desc="CAR IN SAFETY_CHECK" rangeType="B" targetType="Boolean" actionType="R">
  </ValueDef>
  <ValueDef name="MTL_TO_OHXC_CAR_IN_INTERLOCK" scenarioName="CST Interface" desc="CAR IN_INTERLOCK" rangeType="B" targetType="Boolean" actionType="R">
  </ValueDef>

  <!--==========================OHXC_TO_MTL============================-->
  <!--__________Index Area___________-->
  <ValueDef name="OHXC_TO_MTL_ALIVE_INDEX" scenarioName="Index Area" desc="Index Area"
            rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_INDEX" scenarioName="Index Area" desc="Index Area"
            rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="OHXC_TO_MTL_DATA_MESSAGE_DOWNLOAD_INDEX" scenarioName="Index Area" desc="Index Area"
            rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_INDEX" scenarioName="Index Area" desc="Index Area"
            rangeType="W" targetType="UInt16" actionType="W" />

  <!--__________Handshake Area___________-->
  <ValueDef name="OHXC_TO_MTL_REPLY_ALARM_REPORT_HS" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="OHXC_TO_MTL_ALARM_RESET_REQUEST_HS" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="OHXC_TO_MTL_CAR_OUT_REPLY_HS" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="OHXC_TO_MTL_CAR_OUT_NOTIFY_HS" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="OHXC_TO_MTL_REPLY_CAR_IN_DATA_CHECK_HS" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="W" />

  <!--__________Date Time Sync Command___________-->
  <ValueDef name="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_YEAR" scenarioName="Date Time Sync Command" desc="Date Time Sync Command"
        rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_MONTH" scenarioName="Date Time Sync Command" desc="Date Time Sync Command"
        rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_DAY" scenarioName="Date Time Sync Command" desc="Date Time Sync Command"
        rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_HOUR" scenarioName="Date Time Sync Command" desc="Date Time Sync Command"
        rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_MINUTE" scenarioName="Date Time Sync Command" desc="Date Time Sync Command"
        rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_SECOND" scenarioName="Date Time Sync Command" desc="Date Time Sync Command"
        rangeType="W" targetType="UInt16" actionType="W" />
  <!--__________OHxC Message Download___________-->
  <ValueDef name="OHXC_TO_MTL_DATA_MESSAGE_DOWNLOAD_MESSAGE" scenarioName="OHxC Message Download" desc="OHxC Message Download"
          rangeType="W" targetType="String" actionType="W" />
  <!--__________Car Out-Car Realtime Information___________-->
  <ValueDef name="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_CAR_ID" scenarioName="Car Out-Car Realtime Information" desc="Car ID"
            rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_ACTION_MODE" scenarioName="Car Out-Car Realtime Information" desc="ACTION MODE"
            rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_CST_EXIST" scenarioName="Car Out-Car Realtime Information" desc="Cst Exist"
            rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_CURRENT_SECTION_ID" scenarioName="Car Out-Car Realtime Information" desc="Current Section ID"
            rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_CURRENT_ADDRESS_ID" scenarioName="Car Out-Car Realtime Information" desc="Current Address ID"
            rangeType="W" targetType="UInt32" actionType="W" />
  <ValueDef name="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_CURRENT_BUFFER_DISTANCE" scenarioName="Car Out-Car Realtime Information" desc="Buffer Distance[mm]"
            rangeType="W" targetType="UInt32" actionType="W" />
  <ValueDef name="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_CURRENT_SPEED" scenarioName="Car Out-Car Realtime Information" desc="Speed"
            rangeType="W" targetType="UInt16" actionType="W" />
  <!--__________MTL Car Out Reply___________-->
  <ValueDef name="OHXC_TO_MTL_CAR_OUT_REPLY_RETURN_CODE" scenarioName="MTL Car Out Reply" desc="Return Code"
            rangeType="W" targetType="UInt16" actionType="W" />
  <!--__________OHxC Car Out Notify__________-->
  <ValueDef name="OHXC_TO_MTL_CAR_OUT_NOTIFY_CAR_ID" scenarioName="OHxC Car Out Notify" desc="Car ID"
            rangeType="W" targetType="UInt16" actionType="W" />


  <!--__________OHxC Car Out Notify__________-->
  <ValueDef name="OHXC_TO_MTL_REPLY_CAR_IN_DATA_CHECK_RETURN_CODE" scenarioName="OHxC Car Out Notify" desc="Return Code"
            rangeType="W" targetType="UInt16" actionType="W" />
  <!--__________OHxC Car In Request Cancel Reply_________-->
  <ValueDef name="OHXC_TO_MTL_CAR_IN_REQUEST_CANCEL_REPLY_RETURN_CODE" scenarioName="OHxC Car In Request Cancel Reply" desc="Return Code"
            rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="OHXC_TO_MTL_CAR_IN_REQUEST_CANCEL_REPLY_HS" scenarioName="OHxC Car In Request Cancel Reply" desc="Handshake"
            rangeType="W" targetType="UInt16" actionType="W" />
  <!--__________OHxC Car Out Request Cancel_________-->
  <ValueDef name="OHXC_TO_MTL_CAR_OUT_REQUEST_CANCEL_CAR_ID" scenarioName="OHxC Car Out Request Cancel" desc="Car ID"
            rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="OHXC_TO_MTL_CAR_OUT_REQUEST_CANCEL_HS" scenarioName="OHxC Car Out Request Cancel" desc="Handshake"
            rangeType="W" targetType="UInt16" actionType="W" />
  <!--__________OHxC Manual Car Out Request_________-->
  <ValueDef name="OHXC_TO_MTL_MANUAL_CAR_OUT_REQUEST_REPLY_RETURN_CODE" scenarioName="OHxC Manual Car Out Request" desc="Return Code"
            rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="OHXC_TO_MTL_MANUAL_CAR_OUT_REQUEST_REPLY_HS" scenarioName="OHxC Manual Car Out Request" desc="Handshake"
            rangeType="W" targetType="UInt16" actionType="W" />  
  <!--__________OHxC Manual Car Out Finish Reply_________-->
  <ValueDef name="OHXC_TO_MTL_MANUAL_CAR_OUT_FINISH_REPLY_HS" scenarioName="OHxC Manual Car Out Finish Reply" desc="Handshake"
            rangeType="W" targetType="UInt16" actionType="W" />
            
  <!--__________CST Interface OHxC To MTL__________-->
  <ValueDef name="OHXC_TO_MTL_CAR_OUT_INTERLOCK" scenarioName="CST Interface" desc="CAR OUT INTERLOCK" rangeType="B" targetType="Boolean" actionType="W">
  </ValueDef>
  <ValueDef name="OHXC_TO_MTL_CAR_OUT_READY" scenarioName="CST Interface" desc="CAR OUT READY" rangeType="B" targetType="Boolean" actionType="W">
  </ValueDef>
  <ValueDef name="OHXC_TO_MTL_CAR_OUT_MOVING" scenarioName="CST Interface" desc="CAR OUT MOVING" rangeType="B" targetType="Boolean" actionType="W">
  </ValueDef>
  <ValueDef name="OHXC_TO_MTL_CAR_OUT_MOVE_COMPLETE" scenarioName="CST Interface" desc="CAR OUT MOVE COMPLETE" rangeType="B" targetType="Boolean" actionType="W">
  </ValueDef>
  <ValueDef name="OHXC_TO_MTL_CAR_IN_MOVING" scenarioName="CST Interface" desc="CAR IN MOVING" rangeType="B" targetType="Boolean" actionType="W">
  </ValueDef>
  <ValueDef name="OHXC_TO_MTL_CAR_IN_INTERLOCK" scenarioName="CST Interface" desc="CAR IN INTERLOCK" rangeType="B" targetType="Boolean" actionType="W">
  </ValueDef>
  <ValueDef name="OHXC_TO_MTL_CAR_IN_MOVE_COMPLETE" scenarioName="CST Interface" desc="CAR IN MOVE COMPLETE" rangeType="B" targetType="Boolean" actionType="W">
  </ValueDef>



</ValueDefs>
