<ValueEventRelativeDefs>
  <ValueEventRelative name="OHxC">
    <Relative valueDefName="OHxC_Alive_W" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHxC_Alive_R" offset="0" length="1" MPLCName="EQ"/>
  </ValueEventRelative>

  <!--==========================MTL_TO_OHXC============================-->
  <ValueEventRelative name="MTL_TO_OHXC_INDEX_AREA">
    <Relative valueDefName="MTL_TO_OHXC_ALIVE_INDEX" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_CURRENT_CAR_ID_INDEX" offset="1" length="1" MPLCName="EQ"  BoundRelativeName = "MTL_TO_OHXC_CURRENT_CAR_ID"/>
  </ValueEventRelative>
  <ValueEventRelative name="MTL_TO_OHXC_HANDSHAKE_AREA">
    <Relative valueDefName="MTL_TO_OHXC_ALARM_REPORT_HS" offset="0" length="1" MPLCName="EQ" BoundRelativeName = "MTL_TO_OHXC_ALARM_REPORT"/>
    <Relative valueDefName="MTL_TO_OHXC_REPLY_ALARM_RESET_HS" offset="1" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_MTL_CAR_OUT_REQUEST_HS" offset="2" length="1" MPLCName="EQ" BoundRelativeName = "MTL_TO_OHXC_MTL_CAR_OUT_REQUEST"/>
    <Relative valueDefName="MTL_TO_OHXC_REPLY_OHXC_CAR_OUT_NOTIFY_HS" offset="3" length="1" MPLCName="EQ" BoundRelativeName = "MTL_TO_OHXC_REPLY_OHXC_CAR_OUT_NOTIFY"/>
    <Relative valueDefName="MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK_HS" offset="4" length="1" MPLCName="EQ" BoundRelativeName = "MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK"/>
  </ValueEventRelative>

  <ValueEventRelative name="MTL_TO_OHXC_CURRENT_CAR_ID" >
    <!--<Relative valueDefName="MTL_TO_OHXC_CURRENT_CAR_ID_MTL_STATION_ID" offset="0" length="1" MPLCName="EQ"/>-->
    <Relative valueDefName="MTL_TO_OHXC_CURRENT_CAR_ID_CAR_ID" offset="0" length="0" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="MTL_TO_OHXC_MTL_CAR_OUT_REQUEST" >
    <!--<Relative valueDefName="MTL_TO_OHXC_MTL_CAR_OUT_REQUEST_MTL_STATION_ID" offset="0" length="1" MPLCName="EQ"/>-->
    <Relative valueDefName="MTL_TO_OHXC_MTL_CAR_OUT_REQUEST_CAR_ID" offset="0" length="1" MPLCName="EQ"/>
    <!--<Relative valueDefName="MTL_TO_OHXC_MTL_CAR_OUT_ACTION_TYPE" offset="1" length="1" MPLCName="EQ"/>-->
    <Relative valueDefName="MTL_TO_OHXC_MTL_CAR_OUT_CANCEL" offset="2" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="MTL_TO_OHXC_REPLY_OHXC_CAR_OUT_NOTIFY">
    <Relative valueDefName="MTL_TO_OHXC_REPLY_OHXC_CAR_OUT_NOTIFY_RETURN_CODE" offset="0" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK">
    <!--<Relative valueDefName="MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK_MTL_STATION_ID" offset="0" length="1" MPLCName="EQ"/>-->
    <Relative valueDefName="MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK_CAR_ID" offset="0" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="MTL_TO_OHXC_LFT_STATUS">
    <Relative valueDefName="MTL_TO_OHXC_LFT_STATUS_HAS_VEHICLE" offset="0" length="1" startBit="0" endBit="0" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_LFT_STATUS_STOP_SINGLE" offset="1" length="1" startBit="0" endBit="0" MPLCName="EQ"/>
    <!--<Relative valueDefName="MTS_TO_OHXC_MTS_STATUS_HAS_VEHICLE" offset="2" length="1" startBit="0" endBit="0" MPLCName="EQ"/>
    <Relative valueDefName="MTS_TO_OHXC_MTS_STATUS_STOP_SINGLE" offset="3" length="1" startBit="0" endBit="0" MPLCName="EQ"/>-->
    <Relative valueDefName="MTL_TO_OHXC_LFT_MODE" offset="4" length="1" startBit="0" endBit="0" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_LFT_LOCATION" offset="5" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_LFT_MOVING_STATUS" offset="6" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_LFT_ENCODER" offset="7" length="2" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_RAIL_STATUS" offset="9" length="1" MPLCName="EQ"/>

    <!--<Relative valueDefName="MTL_TO_OHXC_LFT_VEHICLE_IN_POSITION" offset="9" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_LFT_FRONT_DOOR_STATUS" offset="9" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_LFT_BACK_DOOR_STATUS" offset="10" length="1" MPLCName="EQ"/>-->
  </ValueEventRelative>
  <ValueEventRelative name="MTL_TO_OHXC_ALARM_REPORT">
    <Relative valueDefName="MTL_TO_OHXC_ALARM_REPORT_ERROR_CODE" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_ALARM_REPORT_ERROR_STATUS" offset="1" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="MTL_TO_OHXC_CAR_IN_REQUEST_CANCEL">
    <Relative valueDefName="MTL_TO_OHXC_CAR_IN_REQUEST_CANCEL_CAR_ID" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_CAR_IN_REQUEST_CANCEL_HS" offset="2" length="1" startBit="0" endBit="0" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="MTL_TO_OHXC_CAR_OUT_REQUEST_CANCEL_REPLY">
    <Relative valueDefName="MTL_TO_OHXC_CAR_OUT_REQUEST_CANCEL_REPLY_RETURN_CODE" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_CAR_OUT_REQUEST_CANCEL_REPLY_HS" offset="2" length="1" startBit="0" endBit="0" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="MTL_TO_OHXC_MANUAL_CAR_OUT_REQUEST">
    <Relative valueDefName="MTL_TO_OHXC_MANUAL_CAR_OUT_REQUEST_CAR_ID" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_MANUAL_CAR_OUT_REQUEST_HS" offset="2" length="1" startBit="0" endBit="0" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="MTL_TO_OHXC_MANUAL_CAR_OUT_FINISH">
    <Relative valueDefName="MTL_TO_OHXC_MANUAL_CAR_OUT_FINISH_CAR_ID" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_MANUAL_CAR_OUT_FINISH_HS" offset="2" length="1" startBit="0" endBit="0" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="MTL_TO_OHXC_CST_INTERFACE">
    <Relative valueDefName="MTL_TO_OHXC_CAR_OUT_SAFETY_CHECK" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_CAR_OUT_INTERLOCK" offset="1" length="1" MPLCName="EQ"/>
    <!--<Relative valueDefName="MTL_TO_OHXC_U2D_CAR_OUT_ACTION_TYPE_2" offset="2" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_U2D_CAR_OUT_ACTION_TYPE_3" offset="3" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_U2D_CAR_OUT_ACTION_TYPE_4" offset="4" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_U2D_CAR_OUT_ACTION_TYPE_5" offset="5" length="1" MPLCName="EQ"/>-->
    <Relative valueDefName="MTL_TO_OHXC_CAR_IN_SAFETY_CHECK" offset="16" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_CAR_IN_INTERLOCK" offset="17" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="MTL_TO_OHXC_SAFETY">
	<Relative valueDefName="MTL_TO_OHXC_SAFETY_CHECK" offset="0" length="1" MPLCName="EQ"/>
  </ValueEventRelative>

  <!--==========================OHXC_TO_MTL============================-->
  <ValueEventRelative name="OHXC_TO_MTL_INDEX_AREA">
    <Relative valueDefName="OHXC_TO_MTL_ALIVE_INDEX" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_INDEX" offset="1" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_DATA_MESSAGE_DOWNLOAD_INDEX" offset="2" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_INDEX" offset="3" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="OHXC_TO_MTL_HANDSHAKE_AREA">
    <Relative valueDefName="OHXC_TO_MTL_REPLY_ALARM_REPORT_HS" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_ALARM_RESET_REQUEST_HS" offset="1" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_REPLY_HS" offset="2" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_NOTIFY_HS" offset="3" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_REPLY_CAR_IN_DATA_CHECK_HS" offset="4" length="1" MPLCName="EQ"/>
  </ValueEventRelative>

  <ValueEventRelative name="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND">
    <Relative valueDefName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_YEAR" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_MONTH" offset="1" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_DAY" offset="2" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_HOUR" offset="3" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_MINUTE" offset="4" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_SECOND" offset="5" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="OHXC_TO_MTL_DATA_MESSAGE_DOWNLOAD">
    <Relative valueDefName="OHXC_TO_MTL_DATA_MESSAGE_DOWNLOAD_MESSAGE" offset="0" length="50" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO">
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_CAR_ID" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_ACTION_MODE" offset="1" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_CST_EXIST" offset="2" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_CURRENT_SECTION_ID" offset="3" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_CURRENT_ADDRESS_ID" offset="4" length="2" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_CURRENT_BUFFER_DISTANCE" offset="6" length="2" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_CURRENT_SPEED" offset="8" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="OHXC_TO_MTL_CAR_OUT_REPLY">
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_REPLY_RETURN_CODE" offset="0" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="OHXC_TO_MTL_CAR_OUT_NOTIFY">
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_NOTIFY_CAR_ID" offset="0" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="OHXC_TO_MTL_REPLY_CAR_IN_DATA_CHECK">
    <Relative valueDefName="OHXC_TO_MTL_REPLY_CAR_IN_DATA_CHECK_RETURN_CODE" offset="0" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="OHXC_TO_MTL_CAR_IN_REQUEST_CANCEL_REPLY">
    <Relative valueDefName="OHXC_TO_MTL_CAR_IN_REQUEST_CANCEL_REPLY_RETURN_CODE" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_IN_REQUEST_CANCEL_REPLY_HS" offset="2" length="1" startBit="0" endBit="0" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="OHXC_TO_MTL_CAR_OUT_REQUEST_CANCEL">
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_REQUEST_CANCEL_CAR_ID" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_REQUEST_CANCEL_HS" offset="2" length="1" startBit="0" endBit="0" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="OHXC_TO_MTL_MANUAL_CAR_OUT_REQUEST_REPLY">
    <Relative valueDefName="OHXC_TO_MTL_MANUAL_CAR_OUT_REQUEST_REPLY_RETURN_CODE" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_MANUAL_CAR_OUT_REQUEST_REPLY_HS" offset="2" length="1" startBit="0" endBit="0" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="OHXC_TO_MTL_MANUAL_CAR_OUT_FINISH_REPLY">
    <Relative valueDefName="OHXC_TO_MTL_MANUAL_CAR_OUT_FINISH_REPLY_HS" offset="2" length="1" startBit="0" endBit="0" MPLCName="EQ"/>
  </ValueEventRelative>
  
  <ValueEventRelative name="OHXC_TO_MTL_CST_INTERFACE">
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_INTERLOCK" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_READY" offset="1" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_MOVING" offset="2" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_MOVE_COMPLETE" offset="3" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_IN_MOVING" offset="16" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_IN_INTERLOCK" offset="17" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_IN_MOVE_COMPLETE" offset="18" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <!--==========================HID_TO_OHXC============================-->
  <ValueEventRelative name="HID_TO_OHXC_PH2">
    <Relative valueDefName="HID_TO_OHXC_ALIVE_PH2" offset="1" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HID_ID_PH2" offset="8" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_V_UNIT_PH2" offset="9" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_V_DOT_PH2" offset="10" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_A_UNIT_PH2" offset="11" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_A_DOT_PH2" offset="12" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_W_UNIT_PH2" offset="13" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_W_DOT_PH2" offset="14" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_UNIT_PH2" offset="15" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_DOT_PH2" offset="16" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_SIGMA_Hi_WORD_PH2" offset="17" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_SIGMA_Lo_WORD_PH2" offset="18" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_POSITIVE_Hi_WORD_PH2" offset="19" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_POSITIVE_Lo_WORD_PH2" offset="20" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_NEGATIVE_Hi_WORD_PH2" offset="21" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_NEGATIVE_Lo_WORD_PH2" offset="22" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_VR_PH2" offset="23" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_VS_PH2" offset="24" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_VT_PH2" offset="25" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_SIGMA_V_PH2" offset="26" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_AR_PH2" offset="27" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_AS_PH2" offset="28" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_AT_PH2" offset="29" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_SIGMA_A_PH2" offset="30" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_WR_PH2" offset="31" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_WS_PH2" offset="32" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_WT_PH2" offset="33" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_SIGMA_W_PH2" offset="34" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_TRIGGER_PH2" offset="0" length="35" MPLCName="EQ"/>
  </ValueEventRelative>

  <!--<ValueEventRelative name="HID_TO_OHXC_AREA_B">
    <Relative valueDefName="HID_TO_OHXC_POWER_ALARM" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_TEMP_ALARM" offset="1" length="1" MPLCName="EQ"/>
  </ValueEventRelative>-->


  <ValueEventRelative name="HID_TO_OHXC_AREA_B_PH2">
    <Relative valueDefName="HID_TO_OHXC_HID_Power_Status" offset="2" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_ALARM_1" offset="12" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_ALARM_2" offset="13" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_ALARM_3" offset="14" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_ALARM_4" offset="15" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_ALARM_5" offset="16" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_ALARM_6" offset="17" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_ALARM_7" offset="18" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_ALARM_8" offset="19" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_ALARM_9" offset="20" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_ALARM_10" offset="21" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <!--==========================OHXC_TO_HID============================-->
  <ValueEventRelative name="OHXC_TO_HID_PH2">
    <Relative valueDefName="OHXC_TO_HID_ALIVE_INDEX_PH2" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_HID_SILENT_INDEX_PH2" offset="1" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_HID_CONTROL_PH2" offset="2" length="1" MPLCName="EQ"/>
  </ValueEventRelative>

  <ValueEventRelative name="OHXC_TO_HID_DATETIME_PH2">
    <Relative valueDefName="OHTC_TO_HID_DATE_TIME_INDEX_PH2" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHTC_TO_HID_DATE_TIME_SYNC_COMMAND_YEAR_PH2" offset="1" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHTC_TO_HID_DATE_TIME_SYNC_COMMAND_MONTH_PH2" offset="2" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHTC_TO_HID_DATE_TIME_SYNC_COMMAND_DAY_PH2" offset="3" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHTC_TO_HID_DATE_TIME_SYNC_COMMAND_HOUR_PH2" offset="4" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHTC_TO_HID_DATE_TIME_SYNC_COMMAND_MINUTE_PH2" offset="5" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHTC_TO_HID_DATE_TIME_SYNC_COMMAND_SECOND_PH2" offset="6" length="1" MPLCName="EQ"/>
  </ValueEventRelative>

  <ValueEventRelative name="PORT_READ">
    <Relative valueDefName="OP_RUN" offset="0" length="1" startBit="0" endBit="0" MPLCName="MPLC"/>
    <Relative valueDefName="OP_DOWN" offset="0" length="1" startBit="1" endBit="1" MPLCName="MPLC"/>
    <Relative valueDefName="OP_ERROR" offset="0" length="1" startBit="2" endBit="2" MPLCName="MPLC"/>
    <Relative valueDefName="NOW_INPUT_MODE" offset="0" length="1" startBit="3" endBit="3" MPLCName="MPLC"/>
    <Relative valueDefName="NOW_OUTPUT_MODE" offset="0" length="1" startBit="4" endBit="4" MPLCName="MPLC"/>
    <Relative valueDefName="MODE_CHANGEABLE" offset="0" length="1" startBit="5" endBit="5" MPLCName="MPLC"/>
   <!-- <Relative valueDefName="FORK_SENSOR" offset="0" length="1" startBit="6" endBit="6" MPLCName="MPLC"/>
    <Relative valueDefName="FFU_ERROR" offset="0" length="1" startBit="7" endBit="7" MPLCName="MPLC"/>-->
    <Relative valueDefName="WAIT_IN" offset="0" length="1" startBit="8" endBit="8" MPLCName="MPLC"/>
    <Relative valueDefName="WAIT_OUT" offset="0" length="1" startBit="9" endBit="9" MPLCName="MPLC"/>
    <Relative valueDefName="IS_AUTO_MODE" offset="0" length="1" startBit="11" endBit="11" MPLCName="MPLC"/>
    <Relative valueDefName="READY_TO_LOAD" offset="0" length="1" startBit="12" endBit="12" MPLCName="MPLC"/>
    <Relative valueDefName="READY_TO_UNLOAD" offset="0" length="1" startBit="13" endBit="13" MPLCName="MPLC"/>
    <Relative valueDefName="LOAD_POSITION_1" offset="1" length="1" startBit="0" endBit="0" MPLCName="MPLC"/>
    <Relative valueDefName="LOAD_POSITION_2" offset="1" length="1" startBit="1" endBit="1" MPLCName="MPLC"/>
    <Relative valueDefName="LOAD_POSITION_3" offset="1" length="1" startBit="2" endBit="2" MPLCName="MPLC"/>
    <Relative valueDefName="LOAD_POSITION_4" offset="1" length="1" startBit="3" endBit="3" MPLCName="MPLC"/>
    <Relative valueDefName="LOAD_POSITION_5" offset="1" length="1" startBit="4" endBit="4" MPLCName="MPLC"/>
    <Relative valueDefName="BARCODE_READ_DONE" offset="1" length="1" startBit="9" endBit="9" MPLCName="MPLC"/>
    <Relative valueDefName="CST_TRANSFER_COMPLETE" offset="1" length="1" startBit="14" endBit="14" MPLCName="MPLC"/>
    <Relative valueDefName="CST_REMOVE_CHECK" offset="1" length="1" startBit="15" endBit="15" MPLCName="MPLC"/>
    <Relative valueDefName="PORTALLINFO" offset="0" length="2" MPLCName="MPLC"/>
    <Relative valueDefName="ERROR_CODE" offset="4" length="1" MPLCName="MPLC"/>
    <Relative valueDefName="LOAD_POSITION_CST_ID_1" offset="6" length="10" MPLCName="MPLC"/>
    <Relative valueDefName="LOAD_POSITION_CST_ID_2" offset="16" length="10" MPLCName="MPLC"/>
    <Relative valueDefName="LOAD_POSITION_CST_ID_3" offset="26" length="10" MPLCName="MPLC"/>
    <Relative valueDefName="LOAD_POSITION_CST_ID_4" offset="36" length="10" MPLCName="MPLC"/>
    <Relative valueDefName="LOAD_POSITION_CST_ID_5" offset="46" length="10" MPLCName="MPLC"/>
    <Relative valueDefName="RFID_READ_CST_ID" offset="56" length="10" MPLCName="MPLC"/>


  </ValueEventRelative>
<!--
  <ValueEventRelative name="PORT_RFID_READ_RESULT">
    <Relative valueDefName="CST_ID" offset="0" length="7" MPLCName="MPLC"/>
  </ValueEventRelative>
-->
  
    
  <ValueEventRelative name="SET_SYSTEM_INFO_TO_MASTER">
    <Relative valueDefName="MCS_ONLINE" offset="0" length="1" startBit="1" endBit="1" MPLCName="MPLC"/>
    <Relative valueDefName="PLC_HEARTBEAT" offset="0" length="1" startBit="6" endBit="6" MPLCName="MPLC"/>
    <Relative valueDefName="TIME_CALIBRATION" offset="0" length="1" startBit="7" endBit="7" MPLCName="MPLC"/>
    <Relative valueDefName="CST_ID_SET_COMMAND" offset="0" length="1" startBit="8" endBit="8" MPLCName="MPLC"/>
    <Relative valueDefName="BCD_YEAR_MONTH" offset="1" length="1" MPLCName="MPLC"/>
    <Relative valueDefName="BCD_DAY_HOUR" offset="2" length="1" MPLCName="MPLC"/>
    <Relative valueDefName="BCD_MINUTE_SECOND" offset="3" length="1" MPLCName="MPLC"/>
  </ValueEventRelative>

    <ValueEventRelative name="MPLC_TIMEOUT_SETTING">
   <Relative valueDefName="T1_TIMEOUT" offset="0" length="1" MPLCName="MPLC"/>
   <Relative valueDefName="T2_TIMEOUT" offset="1" length="1" MPLCName="MPLC"/>
   <Relative valueDefName="T3_TIMEOUT" offset="2" length="1" MPLCName="MPLC"/>
   <Relative valueDefName="T4_TIMEOUT" offset="3" length="1" MPLCName="MPLC"/>
   <Relative valueDefName="T5_TIMEOUT" offset="4" length="1" MPLCName="MPLC"/>
   <Relative valueDefName="T6_TIMEOUT" offset="5" length="1" MPLCName="MPLC"/>
    </ValueEventRelative>

  
  <ValueEventRelative name="PORT_WRITE">
    <Relative valueDefName="FAULT_RESET" offset="0" length="1" startBit="1" endBit="1" MPLCName="MPLC"/>
    <Relative valueDefName="BUZZER_STOP" offset="0" length="1" startBit="2" endBit="2" MPLCName="MPLC"/>
    <Relative valueDefName="REMOTE_RUN" offset="0" length="1" startBit="3" endBit="3" MPLCName="MPLC"/>
    <Relative valueDefName="REMOTE_STOP" offset="0" length="1" startBit="4" endBit="4" MPLCName="MPLC"/>
    <Relative valueDefName="ID_READ_CMD" offset="0" length="1" startBit="5" endBit="5" MPLCName="MPLC"/>
    <Relative valueDefName="OHS_DOOR_OPEN" offset="0" length="1" startBit="6" endBit="6" MPLCName="MPLC"/>
    <Relative valueDefName="MOVE_BACK" offset="0" length="1" startBit="7" endBit="7" MPLCName="MPLC"/>
    <Relative valueDefName="OPEN_DOOR_MGV" offset="0" length="1" startBit="10" endBit="10" MPLCName="MPLC"/>
    <Relative valueDefName="AREA_SENSOR_CTRL" offset="0" length="1" startBit="11" endBit="11" MPLCName="MPLC"/>
    <Relative valueDefName="CHANGE_TO_INPUT_AGV" offset="0" length="1" startBit="12" endBit="12" MPLCName="MPLC"/>
    <Relative valueDefName="CHANGE_TO_OUTPUT_AGV" offset="0" length="1" startBit="13" endBit="13" MPLCName="MPLC"/>
    <Relative valueDefName="CHANGE_TO_INPUT_MODE" offset="0" length="1" startBit="14" endBit="14" MPLCName="MPLC"/>
    <Relative valueDefName="CHANGE_TO_OUTPUT_MODE" offset="0" length="1" startBit="15" endBit="15" MPLCName="MPLC"/>
    <Relative valueDefName="BCR_ENABLE_CMD" offset="2" length="1" startBit="0" endBit="0" MPLCName="MPLC"/>
    
    <Relative valueDefName="ASSIGN_CST_ID" offset="3" length="10" MPLCName="MPLC"/>

  </ValueEventRelative>

</ValueEventRelativeDefs>
