<AddressBaseDefs>
  <!--<AddressBase baseName="EAPWrite" device="W" baseAddress="0000"></AddressBase>-->
  <!--AddressBase baseName="EAP_W" device="W" baseAddress="0000">
  </AddressBase-->
  <!--**************************************************************************************************************************-->
  <!--***********************************************************BC to Read***********************************************************-->
  <!--**************************************************************************************************************************-->

  <!--System info-->
  <AddressBase baseName="MASTER_PLC_SYSTEM_INFO" device="D" baseAddress="05000"/>
  <!--________________________OHBC_PORT______________________-->

  <AddressBase baseName="IOPORT01_WRITE" device="D" baseAddress="5014"/>
  <AddressBase baseName="IOPORT02_WRITE" device="D" baseAddress="5030"/>
  <AddressBase baseName="IOPORT03_WRITE" device="D" baseAddress="5046"/>
  <AddressBase baseName="IOPORT04_WRITE" device="D" baseAddress="5062"/>
  <AddressBase baseName="IOPORT05_WRITE" device="D" baseAddress="5078"/>
  <AddressBase baseName="IOPORT06_WRITE" device="D" baseAddress="5094"/>
  <AddressBase baseName="IOPORT07_WRITE" device="D" baseAddress="5110"/>
  <AddressBase baseName="IOPORT08_WRITE" device="D" baseAddress="5126"/>
  <AddressBase baseName="IOPORT09_WRITE" device="D" baseAddress="5142"/>
  <AddressBase baseName="IOPORT10_WRITE" device="D" baseAddress="5158"/>
  <AddressBase baseName="IOPORT11_WRITE" device="D" baseAddress="5174"/>
  <AddressBase baseName="IOPORT12_WRITE" device="D" baseAddress="5190"/>
  <AddressBase baseName="IOPORT13_WRITE" device="D" baseAddress="5206"/>
  <AddressBase baseName="IOPORT14_WRITE" device="D" baseAddress="5222"/>
  <AddressBase baseName="IOPORT15_WRITE" device="D" baseAddress="5238"/>
  <AddressBase baseName="IOPORT16_WRITE" device="D" baseAddress="5254"/>
  <AddressBase baseName="IOPORT17_WRITE" device="D" baseAddress="5270"/>
  <AddressBase baseName="IOPORT18_WRITE" device="D" baseAddress="5286"/>
  <AddressBase baseName="IOPORT19_WRITE" device="D" baseAddress="5302"/>
  <AddressBase baseName="IOPORT20_WRITE" device="D" baseAddress="5318"/>
<!--<AddressBase baseName="IOPORT21_WRITE" device="D" baseAddress="5274"/>
  <AddressBase baseName="IOPORT22_WRITE" device="D" baseAddress="5287"/>
  <AddressBase baseName="IOPORT23_WRITE" device="D" baseAddress="5300"/>
  <AddressBase baseName="IOPORT24_WRITE" device="D" baseAddress="5313"/>
  <AddressBase baseName="IOPORT25_WRITE" device="D" baseAddress="5326"/>--> 
  
    <!--Timeout Setting-->
  <AddressBase baseName="TIMEOUT_SETTING" device="D" baseAddress="05414"/>
  
  
  <AddressBase baseName="IOPORT01_READ" device="D" baseAddress="6400"/>
  <AddressBase baseName="IOPORT02_READ" device="D" baseAddress="6560"/>
  <AddressBase baseName="IOPORT03_READ" device="D" baseAddress="6720"/>
  <AddressBase baseName="IOPORT04_READ" device="D" baseAddress="6880"/>
  <AddressBase baseName="IOPORT05_READ" device="D" baseAddress="7040"/>
  <AddressBase baseName="IOPORT06_READ" device="D" baseAddress="7200"/>
  <AddressBase baseName="IOPORT07_READ" device="D" baseAddress="7360"/>
  <AddressBase baseName="IOPORT08_READ" device="D" baseAddress="7520"/>
  <AddressBase baseName="IOPORT09_READ" device="D" baseAddress="7680"/>
  <AddressBase baseName="IOPORT10_READ" device="D" baseAddress="7840"/>
  <AddressBase baseName="IOPORT11_READ" device="D" baseAddress="8000"/>
  <AddressBase baseName="IOPORT12_READ" device="D" baseAddress="8160"/>
  <AddressBase baseName="IOPORT13_READ" device="D" baseAddress="8320"/>
  <AddressBase baseName="IOPORT14_READ" device="D" baseAddress="8480"/>
  <AddressBase baseName="IOPORT15_READ" device="D" baseAddress="8640"/>
  <AddressBase baseName="IOPORT16_READ" device="D" baseAddress="8800"/>
  <AddressBase baseName="IOPORT17_READ" device="D" baseAddress="8960"/>
  <AddressBase baseName="IOPORT18_READ" device="D" baseAddress="9120"/>
  <AddressBase baseName="IOPORT19_READ" device="D" baseAddress="9280"/>
  <AddressBase baseName="IOPORT20_READ" device="D" baseAddress="9440"/>
  
  <AddressBase baseName="MTL_TO_OHXC" device="W" baseAddress="0076"/>

  <AddressBase baseName="MTL_TO_OHXC_INDEX_AREA" device="W" baseAddress="0076"/>
  <AddressBase baseName="MTL_TO_OHXC_HANDSHAKE_AREA" device="W" baseAddress="007C"/>
  <AddressBase baseName="MTL_TO_OHXC_CURRENT_CAR_ID" device="W" baseAddress="0081"/>
  <AddressBase baseName="MTL_TO_OHXC_MTL_CAR_OUT_REQUEST" device="W" baseAddress="0084"/>
  <AddressBase baseName="MTL_TO_OHXC_REPLY_OHXC_CAR_OUT_NOTIFY" device="W" baseAddress="0087"/>
  <AddressBase baseName="MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK" device="W" baseAddress="0088"/>
  <AddressBase baseName="MTL_TO_OHXC_LFT_STATUS" device="W" baseAddress="008B"/>
  <AddressBase baseName="MTL_TO_OHXC_ALARM_REPORT" device="W" baseAddress="00A0"/>
  <AddressBase baseName="MTL_TO_OHXC_CAR_IN_REQUEST_CANCEL" device="W" baseAddress="00A5"/>
  <AddressBase baseName="MTL_TO_OHXC_CAR_OUT_REQUEST_CANCEL_REPLY" device="W" baseAddress="00A8"/>
  <AddressBase baseName="MTL_TO_OHXC_MANUAL_CAR_OUT_REQUEST" device="W" baseAddress="00AB"/>
  <AddressBase baseName="MTL_TO_OHXC_MANUAL_CAR_OUT_FINISH" device="W" baseAddress="00AE"/>
  <AddressBase baseName="MTL_TO_OHXC_CST_INTERFACE" device="B" baseAddress="0036"/>
  <AddressBase baseName="MTL_TO_OHXC_SAFETY" device="W" baseAddress="0095"/>

  <AddressBase baseName="OHXC_TO_MTL_INDEX_AREA" device="W" baseAddress="0000"/>
  <AddressBase baseName="OHXC_TO_MTL_HANDSHAKE_AREA" device="W" baseAddress="000B"/>
  <AddressBase baseName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND" device="W" baseAddress="0010"/>
  <AddressBase baseName="OHXC_TO_MTL_DATA_MESSAGE_DOWNLOAD" device="W" baseAddress="0017"/>
  <AddressBase baseName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO" device="W" baseAddress="004A"/>
  <AddressBase baseName="OHXC_TO_MTL_CAR_OUT_REPLY" device="W" baseAddress="0054"/>
  <AddressBase baseName="OHXC_TO_MTL_CAR_OUT_NOTIFY" device="W" baseAddress="0055"/>
  <AddressBase baseName="OHXC_TO_MTL_REPLY_CAR_IN_DATA_CHECK" device="W" baseAddress="0058"/>
  <AddressBase baseName="OHXC_TO_MTL_CAR_IN_REQUEST_CANCEL_REPLY" device="W" baseAddress="0059"/>
  <AddressBase baseName="OHXC_TO_MTL_CAR_OUT_REQUEST_CANCEL" device="W" baseAddress="005C"/>
  <AddressBase baseName="OHXC_TO_MTL_MANUAL_CAR_OUT_REQUEST_REPLY" device="W" baseAddress="005F"/>
  <AddressBase baseName="OHXC_TO_MTL_MANUAL_CAR_OUT_FINISH_REPLY" device="W" baseAddress="0062"/>
  <AddressBase baseName="OHXC_TO_MTL_CST_INTERFACE" device="B" baseAddress="0016"/>


	<!--<AddressBase baseName="OHB100T0A_RFID" device="D" baseAddress="25820"/>
  <AddressBase baseName="OHB100T0A_BOX_CST_ID" device="D" baseAddress="29040"/>-->
<!--
  <AddressBase baseName="OHBF00T01_READ" device="D" baseAddress="27409"/>
  <AddressBase baseName="OHBF00T01_WRITE" device="D" baseAddress="25097"/>
  <AddressBase baseName="OHBF00T01_RFID" device="D" baseAddress="25836"/>
  <AddressBase baseName="OHBF00T01_BOX_CST_ID" device="D" baseAddress="29072"/>

  <AddressBase baseName="OHBF00A08_READ" device="D" baseAddress="26401"/>
  <AddressBase baseName="OHBF00A08_WRITE" device="D" baseAddress="25061"/>
  <AddressBase baseName="OHBF00A08_RFID" device="D" baseAddress="25800"/>
  <AddressBase baseName="OHBF00A08_BOX_CST_ID" device="D" baseAddress="29000"/>

  <AddressBase baseName="OHBF00A07_READ" device="D" baseAddress="26513"/>
  <AddressBase baseName="OHBF00A07_WRITE" device="D" baseAddress="25065"/>
  <AddressBase baseName="OHBF00A07_RFID" device="D" baseAddress="25804"/>
  <AddressBase baseName="OHBF00A07_BOX_CST_ID" device="D" baseAddress="29008"/>

  <AddressBase baseName="OHBF00A06_READ" device="D" baseAddress="26625"/>
  <AddressBase baseName="OHBF00A06_WRITE" device="D" baseAddress="25069"/>
  <AddressBase baseName="OHBF00A06_RFID" device="D" baseAddress="25808"/>
  <AddressBase baseName="OHBF00A06_BOX_CST_ID" device="D" baseAddress="29016"/>

  <AddressBase baseName="B7_OHBLINE3_T02_READ" device="D" baseAddress="26737"/>
  <AddressBase baseName="B7_OHBLINE3_T02_WRITE" device="D" baseAddress="25073"/>
  <AddressBase baseName="B7_OHBLINE3_T02_RFID" device="D" baseAddress="25812"/>
  <AddressBase baseName="B7_OHBLINE3_T02_BOX_CST_ID" device="D" baseAddress="29024"/>
-->


</AddressBaseDefs>
