<!-- Equipment Name不可重複 -->
<!-- valueDefMapActionClass可指定多個實現com.mirle.ibg3k0.smc.data.IValueDefMapAction的類別，以","作為間隔 -->
<!-- valueDefMapActionClass所指定的class必須確保被定義在"com.mirle.ibg3k0.smc.data" Name Space下 -->
<!-- 目前eqptType支援三種：Equipment_Load、Equipment_UnLoad、Equipment_LUMix-->
<!-- portType有兩種選項：1、2。 1代表該port是屬於load Port，2代表該port是屬於unload Port -->
<!-- portJudge: 對應到AMS設定的Port Judge Future Action -->
<!-- 用來設定基準位址，方便相對定位使用(使用十六進位)。  _R：EQPT寫入區域即EAP讀取區域、_W：EQPT讀取區域即EAP寫入區域-->
<!-- secsAgentName: 指定使用SECS Agent的名稱，對應SECSConnectionSetting.config的設定-->
<!-- 修改 EQPT id 也必須去修改 EqDefaultValueDefMapAction 裡的 Method : recordRecipeCheck -->
<EquipmentDefs shareMemoryInitClass="com.mirle.ibg3k0.sc.Data.InitAction.ShareMemoryInitProcess_Base, ScriptControl">
  <Line id="OHT301" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MCSDefaultMapAction, ScriptControl">
    <Zone id="OHT_ZONE">
      <Node id="OHT_NODE" node_num="1" >
        <Vehicle id="OHT01" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx01"/>
        <Vehicle id="OHT02" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx02"/>
        <Vehicle id="OHT03" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx03"/>
      <Vehicle id="OHT04" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx04"/>
      <Vehicle id="OHT05" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx05"/>
    <Vehicle id="OHT06" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx06"/>
      <Vehicle id="OHT07" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx07"/>
    <Vehicle id="OHT08" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx08"/>
    <Vehicle id="OHT09" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx09"/>
    <Vehicle id="OHT10" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx10"/>
      <Vehicle id="OHT11" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx11"/>
      <Vehicle id="OHT12" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx12"/>
      </Node>
    
    
    </Zone>

    <Zone id="EQ_ZONE1">

      <Node id="ZONE1_EQ1" node_num="3" >
        <EQPT id="AGV101" eqptType="3" communicationType="1" >
          <PortStation id="OHT301A01" unit_num="1" adr_id ="10004"  load_vh_type ="0" unload_vh_type ="0"
             valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <PortStation id="OHT301A02" unit_num="1" adr_id ="10003"  load_vh_type ="0" unload_vh_type ="0"
             valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
        </EQPT>
        <EQPT id="OHT302" eqptType="3" communicationType="1" >
          <PortStation id="OHT301T01" unit_num="1" adr_id ="10019"  load_vh_type ="0" unload_vh_type ="0"
             valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <PortStation id="OHT301T02" unit_num="1" adr_id ="10018"  load_vh_type ="0" unload_vh_type ="0"
             valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
        </EQPT>
        <EQPT id="QCB302" eqptType="3" communicationType="1" >
          <PortStation id="OHT301T03" unit_num="1" adr_id ="10015"  load_vh_type ="0" unload_vh_type ="0"
             valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <PortStation id="OHT301T04" unit_num="1" adr_id ="10014"  load_vh_type ="0" unload_vh_type ="0"
             valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <PortStation id="OHT301T05" unit_num="1" adr_id ="10013"  load_vh_type ="0" unload_vh_type ="0"
             valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <PortStation id="OHT301T06" unit_num="1" adr_id ="10012"  load_vh_type ="0" unload_vh_type ="0"
             valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <PortStation id="OHT301T07" unit_num="1" adr_id ="10008"  load_vh_type ="0" unload_vh_type ="0"
             valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
        </EQPT>
        <EQPT id="QCB301" eqptType="3" communicationType="1" >
          <PortStation id="OHT301T08" unit_num="1" adr_id ="10002"  load_vh_type ="0" unload_vh_type ="0"
             valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <PortStation id="OHT301T09" unit_num="1" adr_id ="10001"  load_vh_type ="0" unload_vh_type ="0"
             valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
        </EQPT>
        <EQPT id="EQ01" eqptType="3" communicationType="1" >
          <PortStation id="DFX301P3" unit_num="1" adr_id ="10029"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="DFX301P4" unit_num="1" adr_id ="10030"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="DFX302P3" unit_num="1" adr_id ="10031"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="DFX302P4" unit_num="1" adr_id ="10032"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="DFX303P3" unit_num="1" adr_id ="10033"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="DFX303P4" unit_num="1" adr_id ="10034"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="DFX304P3" unit_num="1" adr_id ="10035"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="DFX304P4" unit_num="1" adr_id ="10036"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>

      <Node id="PORT_NODE" node_num="5" >
        <EQPT id="PORT_EQ" eqptType="3" communicationType="1">
          <Port id="MASTER_PLC" unit_num="20" port_num="20" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PLCSystemInfoMapAction, ScriptControl"/>
        </EQPT>
      </Node>

          <Node id="MTL_NODE" node_num="6" >
        <EQPT id="MTL" eqptType="5" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MTLValueDefMapAction, ScriptControl"/>
      </Node>
    
  
    </Zone>

  </Line>
</EquipmentDefs>