USE [master]
GO
/****** Object:  Database [AGVC_UMTC]    Script Date: 2020/12/9 16:31:10 ******/
CREATE DATABASE [AGVC_UMTC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AGVC_UMTC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AGVC_UMTC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AGVC_UMTC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AGVC_UMTC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AGVC_UMTC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AGVC_UMTC]
GO
/****** Object:  Table [dbo].[ACMD]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACMD](
	[ID] [char](64) NOT NULL,
	[VH_ID] [char](5) NOT NULL,
	[CARRIER_ID] [char](64) NULL,
	[TRANSFER_ID] [char](64) NULL,
	[CMD_TYPE] [int] NOT NULL,
	[SOURCE] [char](64) NULL,
	[DESTINATION] [char](64) NULL,
	[PRIORITY] [int] NOT NULL,
	[CMD_INSER_TIME] [datetime2](7) NOT NULL,
	[CMD_START_TIME] [datetime2](7) NULL,
	[CMD_END_TIME] [datetime2](7) NULL,
	[CMD_STATUS] [int] NOT NULL,
	[CMD_PROGRESS] [int] NOT NULL,
	[INTERRUPTED_REASON] [int] NULL,
	[ESTIMATED_TIME] [int] NOT NULL,
	[ESTIMATED_EXCESS_TIME] [int] NOT NULL,
	[SOURCE_PORT] [char](64) NULL,
	[DESTINATION_PORT] [char](64) NULL,
	[COMPLETE_STATUS] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATRANSFER]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATRANSFER](
	[ID] [char](64) NOT NULL,
	[CARRIER_ID] [char](64) NOT NULL,
	[LOT_ID] [char](64) NULL,
	[TRANSFERSTATE] [int] NOT NULL,
	[COMMANDSTATE] [int] NOT NULL,
	[HOSTSOURCE] [char](64) NULL,
	[HOSTDESTINATION] [char](64) NOT NULL,
	[PRIORITY] [int] NOT NULL,
	[CHECKCODE] [char](2) NOT NULL,
	[PAUSEFLAG] [char](1) NOT NULL,
	[CMD_INSER_TIME] [datetime2](7) NOT NULL,
	[CMD_START_TIME] [datetime2](7) NULL,
	[CMD_FINISH_TIME] [datetime2](7) NULL,
	[TIME_PRIORITY] [int] NOT NULL,
	[PORT_PRIORITY] [int] NOT NULL,
	[REPLACE] [int] NOT NULL,
	[PRIORITY_SUM] [int] NOT NULL,
	[EXCUTE_CMD_ID] [char](64) NULL,
	[RESULT_CODE] [char](2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACARRIER]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACARRIER](
	[ID] [char](64) NOT NULL,
	[INSER_TIME] [datetime2](7) NOT NULL,
	[LOCATION] [char](64) NULL,
	[RENAME_ID] [char](64) NULL,
	[STATE] [int] NOT NULL,
	[LOT_ID] [char](64) NULL,
	[TYPE] [char](2) NULL,
	[READ_STATUS] [int] NULL,
	[INSTALLED_TIME] [datetime2](7) NULL,
	[FINISH_TIME] [datetime2](7) NULL,
	[HOSTSOURCE] [char](64) NULL,
	[HOSTDESTINATION] [char](64) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VTRANSFER]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VTRANSFER]
AS
SELECT          dbo.ATRANSFER.ID, dbo.ATRANSFER.CARRIER_ID, dbo.ATRANSFER.LOT_ID, dbo.ATRANSFER.TRANSFERSTATE, 
                            dbo.ATRANSFER.COMMANDSTATE, dbo.ATRANSFER.HOSTSOURCE, dbo.ATRANSFER.HOSTDESTINATION, 
                            dbo.ATRANSFER.PRIORITY, dbo.ATRANSFER.CHECKCODE, dbo.ATRANSFER.CMD_INSER_TIME, 
                            dbo.ATRANSFER.CMD_START_TIME, dbo.ATRANSFER.CMD_FINISH_TIME, dbo.ATRANSFER.TIME_PRIORITY, 
                            dbo.ATRANSFER.PORT_PRIORITY, dbo.ATRANSFER.REPLACE, dbo.ATRANSFER.PRIORITY_SUM, 
                            dbo.ATRANSFER.RESULT_CODE, dbo.ATRANSFER.EXCUTE_CMD_ID, 
                            dbo.ACARRIER.INSER_TIME AS CARRIER_INSER_TIME, dbo.ACARRIER.LOCATION AS CARRIER_LOCATION, 
                            dbo.ACARRIER.INSTALLED_TIME AS CARRIER_INSTALLED_TIME, 
                            dbo.ACARRIER.READ_STATUS AS CARRIER_READ_STATUS, dbo.ACMD.VH_ID, dbo.ACMD.COMPLETE_STATUS
FROM              dbo.ATRANSFER LEFT OUTER JOIN
                            dbo.ACARRIER ON dbo.ACARRIER.ID = dbo.ATRANSFER.CARRIER_ID LEFT OUTER JOIN
                            dbo.ACMD ON dbo.ATRANSFER.EXCUTE_CMD_ID = dbo.ACMD.ID

GO
/****** Object:  Table [dbo].[AADDRESS]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AADDRESS](
	[ADR_ID] [char](5) NOT NULL,
	[ADRTYPE] [int] NOT NULL,
	[SEC_ID] [char](5) NULL,
	[DISTANCE] [int] NULL,
	[P_LOCATION] [char](10) NOT NULL,
	[IS_DISPLAY] [int] NOT NULL,
	[ZOOM_LV] [int] NOT NULL,
	[PORT1_ID] [char](10) NULL,
	[P1_LD_VH_TYPE] [int] NOT NULL,
	[P1_ULD_VH_TYPE] [int] NOT NULL,
	[PORT2_ID] [char](10) NULL,
	[P2_LD_VH_TYPE] [int] NOT NULL,
	[P2_ULD_VH_TYPE] [int] NOT NULL,
	[NODE_ID] [char](5) NULL,
	[ADR1_DIS] [int] NOT NULL,
	[ADR2_DIS] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AADDRESS_DATA]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AADDRESS_DATA](
	[ADR_ID] [char](5) NOT NULL,
	[VEHOCLE_ID] [char](5) NOT NULL,
	[RESOLUTION] [int] NOT NULL,
	[LOACTION] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ABASEDATA_VER]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABASEDATA_VER](
	[VER_TYPE] [int] NOT NULL,
	[SUB_VER] [char](4) NOT NULL,
	[REL_STAUS] [int] NULL,
	[ADD_TIME] [smalldatetime] NULL,
	[ADD_USER] [char](10) NULL,
	[UPD_TIME] [smalldatetime] NULL,
	[UPD_USER] [char](10) NULL,
	[MEMO] [nchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ABLOCKZONEDETAIL]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABLOCKZONEDETAIL](
	[ENTRY_SEC_ID] [nchar](5) NOT NULL,
	[SEC_ID] [nchar](5) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ABLOCKZONEMASTER]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABLOCKZONEMASTER](
	[ENTRY_SEC_ID] [char](5) NOT NULL,
	[BLOCK_ZONE_TYPE] [int] NOT NULL,
	[LEAVE_ADR_ID_1] [char](5) NOT NULL,
	[LEAVE_ADR_ID_2] [char](5) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ABUFFER]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABUFFER](
	[BUFF_ID] [char](15) NOT NULL,
	[UNIT_NUM] [int] NOT NULL,
	[EQPT_ID] [char](15) NOT NULL,
	[CAPACITY] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACASSETTE]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACASSETTE](
	[CST_ID] [char](20) NOT NULL,
	[CST_STAT] [int] NOT NULL,
	[SHT_CNT] [int] NOT NULL,
	[PORT_ID] [char](15) NOT NULL,
	[CST_CODE] [char](1) NOT NULL,
	[LOT_ID] [char](20) NULL,
	[SLOT_MAP] [char](20) NOT NULL,
	[SLOT_SEL] [char](20) NULL,
	[END_STAT] [char](1) NOT NULL,
	[CRATE_ID] [char](20) NULL,
	[CSTLOGON_TIME] [datetime2](7) NULL,
	[CSTLOGOff_TIME] [datetime2](7) NULL,
	[ISLOTSTART] [char](1) NOT NULL,
	[CSTPROCSTART_TIME] [datetime2](7) NULL,
	[CSTPROCEND_TIME] [datetime2](7) NULL,
	[ROUNTINMODE] [char](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACEID]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACEID](
	[CEID] [char](3) NOT NULL,
	[RPTID] [char](3) NOT NULL,
	[ORDER_NUM] [int] NOT NULL,
	[NAME] [char](20) NULL,
	[UPD_TIME] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACMD_DETAIL]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACMD_DETAIL](
	[CMD_ID] [char](64) NOT NULL,
	[SEQ_NO] [int] NOT NULL,
	[ADD_ID] [char](5) NOT NULL,
	[ADD_ENTRY_TIME] [datetime2](7) NULL,
	[SEC_ID] [char](10) NOT NULL,
	[SEG_NUM] [char](10) NOT NULL,
	[SEC_ENTRY_TIME] [datetime2](7) NULL,
	[SEC_LEAVE_TIME] [datetime2](7) NULL,
	[LOAD_START_TIME] [datetime2](7) NULL,
	[LOAD_END_TIME] [datetime2](7) NULL,
	[UNLOAD_START_TIME] [datetime2](7) NULL,
	[UNLOAD_END_TIME] [datetime2](7) NULL,
	[ESTIMATED_TIME] [int] NOT NULL,
	[IS_PASS] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACRATE]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACRATE](
	[CRATE_ID] [char](20) NOT NULL,
	[MAKER] [char](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACYCLEZONEDETAIL]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACYCLEZONEDETAIL](
	[CYCLE_ZONE_ID] [char](10) NOT NULL,
	[SEC_ID] [char](10) NOT NULL,
	[SEC_ORDER] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACYCLEZONEMASTER]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACYCLEZONEMASTER](
	[CYCLE_TYPE_ID] [char](10) NOT NULL,
	[CYCLE_ZONE_ID] [char](10) NOT NULL,
	[ENTRY_ADR_ID] [char](5) NOT NULL,
	[TOTAL_BORDER] [int] NOT NULL,
	[VEHICLE_TYPE] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACYCLEZONETYPE]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACYCLEZONETYPE](
	[CYCLE_TYPE_ID] [char](10) NOT NULL,
	[PROD_ID] [char](10) NULL,
	[TOTAL_BORDER] [int] NOT NULL,
	[IS_DEFAULT] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AECDATAMAP]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AECDATAMAP](
	[ECID] [char](4) NOT NULL,
	[EQPT_REAL_ID] [char](15) NULL,
	[ECNAME] [char](40) NULL,
	[ECMIN] [char](10) NULL,
	[ECMAX] [char](10) NULL,
	[ECV] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AEQPT]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AEQPT](
	[EQPT_ID] [char](15) NOT NULL,
	[NODE_ID] [char](15) NOT NULL,
	[CIM_MODE] [char](1) NOT NULL,
	[OPER_MODE] [char](1) NOT NULL,
	[INLINE_MODE] [char](1) NOT NULL,
	[EQPT_STAT] [char](1) NOT NULL,
	[EQPT_PROC_STAT] [char](1) NOT NULL,
	[CR_RECIPE] [char](33) NULL,
	[MAX_SHT_CNT] [int] NULL,
	[MIN_SHT_CNT] [int] NULL,
	[ALARM_STAT] [char](1) NULL,
	[WARN_STAT] [char](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AEVENTRPTCOND]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AEVENTRPTCOND](
	[CEID] [char](3) NOT NULL,
	[ENABLE_FLG] [char](1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AFLOW_REL]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AFLOW_REL](
	[UPSTREAM_ID] [char](10) NOT NULL,
	[DOWNSTREAM_ID] [char](10) NOT NULL,
	[FR_ID] [char](10) NOT NULL,
	[REL_TYPE] [char](1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AGROUPPORTSTATION]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGROUPPORTSTATION](
	[GROUP_ID] [char](20) NOT NULL,
	[TYPE] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AGROUPRAILS]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGROUPRAILS](
	[SECTION_ID] [char](5) NOT NULL,
	[RAIL_ID] [char](5) NOT NULL,
	[RAIL_NO] [int] NULL,
	[DIR] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AHIDZONEDETAIL]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AHIDZONEDETAIL](
	[ENTRY_SEC_ID] [char](5) NOT NULL,
	[SEC_ID] [char](5) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AHIDZONEMASTER]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AHIDZONEMASTER](
	[ENTRY_SEC_ID] [char](5) NOT NULL,
	[LEAVE_ADR_ID_1] [char](5) NOT NULL,
	[LEAVE_ADR_ID_2] [char](5) NULL,
	[MAX_LOAD_COUNT] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AHIDZONEQUEUE]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AHIDZONEQUEUE](
	[ENTRY_SEC_ID] [char](5) NOT NULL,
	[VEHICLE_ID] [char](10) NOT NULL,
	[REQ_TIME] [smalldatetime] NOT NULL,
	[BLOCK_TIME] [smalldatetime] NULL,
	[THROU_TIME] [smalldatetime] NULL,
	[RELEASE_TIME] [smalldatetime] NULL,
	[STATUS] [int] NOT NULL,
	[IS_PASUE] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALARM]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALARM](
	[EQPT_ID] [char](15) NOT NULL,
	[RPT_DATE_TIME] [datetime2](7) NOT NULL,
	[ALAM_CODE] [char](10) NOT NULL,
	[ALAM_LVL] [int] NOT NULL,
	[ALAM_STAT] [int] NOT NULL,
	[ALAM_DESC] [char](80) NULL,
	[CLEAR_DATE_TIME] [datetime2](7) NULL,
	[CMD_ID_1] [char](64) NULL,
	[CMD_ID_2] [char](64) NULL,
 CONSTRAINT [PK_ALARM] PRIMARY KEY CLUSTERED 
(
	[EQPT_ID] ASC,
	[RPT_DATE_TIME] ASC,
	[ALAM_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALARMRPTCOND]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALARMRPTCOND](
	[EQPT_ID] [char](15) NOT NULL,
	[ALAM_CODE] [char](10) NOT NULL,
	[ENABLE_FLG] [char](1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALINE]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALINE](
	[LINE_ID] [char](15) NOT NULL,
	[HOST_MODE] [int] NOT NULL,
	[LINE_STAT] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALOT]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALOT](
	[LOT_ID] [char](20) NOT NULL,
	[SHT_TYP] [char](1) NULL,
	[CST_OPER_MODE] [char](1) NOT NULL,
	[DUMMY_TYPE] [char](1) NOT NULL,
	[LOT_JUDGE] [char](1) NULL,
	[WORK_ORDER] [char](30) NULL,
	[PROC_STAT] [char](1) NULL,
	[LOT_START_PROC_TIME] [char](16) NULL,
	[LOT_END_PROC_TIME] [char](16) NULL,
	[PROC_SHT_CNT] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AMAIN_VER]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AMAIN_VER](
	[VER_YEAR] [char](4) NULL,
	[VER_MON] [char](2) NULL,
	[VER_DAY] [char](2) NULL,
	[VER_HOUR] [char](2) NULL,
	[VER_MIN] [char](2) NULL,
	[MAIN_VER] [char](4) NOT NULL,
	[VER_STAUS] [int] NULL,
	[REL_STAUS] [int] NULL,
	[MEMO] [nchar](500) NULL,
	[ADD_TIME] [datetime2](7) NULL,
	[ADD_USER] [char](10) NULL,
	[UPD_TIME] [datetime2](7) NULL,
	[UPD_USER] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AMCSREPORTQUEUE]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AMCSREPORTQUEUE](
	[ID] [uniqueidentifier] NOT NULL,
	[SERIALIZED_SXFY] [varbinary](max) NOT NULL,
	[INTER_TIME] [datetime2](7) NOT NULL,
	[REPORT_TIME] [datetime2](7) NULL,
	[STREAMFUNCTION_NAME] [varchar](50) NOT NULL,
	[STREAMFUNCTION_CEID] [char](5) NULL,
	[MCS_CMD_ID] [char](64) NULL,
	[VEHICLE_ID] [char](5) NULL,
	[PORT_ID] [char](64) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANETWORKQUALITY]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANETWORKQUALITY](
	[VEHICLE_ID] [char](5) NOT NULL,
	[ADR_ID] [char](5) NOT NULL,
	[SEC_ID] [char](5) NOT NULL,
	[ACC_SEC_DIST] [int] NOT NULL,
	[UPD_TIME] [smalldatetime] NOT NULL,
	[PING_TIME] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANODE]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANODE](
	[NODE_ID] [char](15) NOT NULL,
	[ZONE_ID] [char](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APARKZONEDETAIL]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APARKZONEDETAIL](
	[PARK_ZONE_ID] [char](10) NOT NULL,
	[ADR_ID] [char](5) NOT NULL,
	[PRIO] [int] NOT NULL,
	[CAR_ID] [char](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APARKZONEMASTER]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APARKZONEMASTER](
	[PARK_TYPE_ID] [char](10) NOT NULL,
	[PARK_ZONE_ID] [char](10) NOT NULL,
	[VEHICLE_TYPE] [int] NOT NULL,
	[ENTRY_ADR_ID] [char](5) NOT NULL,
	[TOTAL_BORDER] [int] NOT NULL,
	[LOWER_BORDER] [int] NOT NULL,
	[PARK_TYPE] [int] NOT NULL,
	[IS_ACTIVE] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APARKZONETYPE]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APARKZONETYPE](
	[PARK_TYPE_ID] [char](10) NOT NULL,
	[PROD_ID] [char](10) NULL,
	[TOTAL_BORDER] [int] NOT NULL,
	[IS_DEFAULT] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APOINT]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APOINT](
	[POINT_ID] [char](5) NOT NULL,
	[ADR_ID] [char](5) NULL,
	[RAIL_ID] [char](5) NULL,
	[POINTTYPE] [int] NOT NULL,
	[LOCATIONX] [int] NOT NULL,
	[LOCATIONY] [int] NOT NULL,
	[HEIGHT] [float] NOT NULL,
	[WIDTH] [float] NOT NULL,
	[COLOR] [char](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APORT]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APORT](
	[PORT_ID] [char](15) NOT NULL,
	[UNIT_NUM] [int] NOT NULL,
	[PORT_NUM] [int] NOT NULL,
	[EQPT_ID] [char](15) NOT NULL,
	[PORT_TYPE] [char](1) NOT NULL,
	[PORT_USE_TYPE] [char](2) NULL,
	[PORT_REAL_TYPE] [char](2) NULL,
	[CAPACITY] [int] NOT NULL,
	[PORT_STAT] [char](1) NOT NULL,
	[PORT_ENABLE] [char](1) NOT NULL,
	[TRS_MODE] [char](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APORT_POSITION_TEACHING_DATA]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APORT_POSITION_TEACHING_DATA](
	[PORT_ID] [char](10) NOT NULL,
	[VH_ID] [char](10) NOT NULL,
	[POSITION_OFFSET] [int] NOT NULL,
	[RESOLUTION] [int] NOT NULL,
	[SUB_VER] [char](4) NOT NULL,
	[ADD_TIME] [datetime2](7) NULL,
	[ADD_USER] [char](10) NULL,
	[UPD_TIME] [datetime2](7) NULL,
	[UPD_USER] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APORTICON]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APORTICON](
	[PORT_ID] [char](10) NOT NULL,
	[ADR_ID] [char](5) NOT NULL,
	[RAIL_ID] [char](5) NOT NULL,
	[ADRTYPE] [int] NOT NULL,
	[LOCATIONX] [int] NOT NULL,
	[LOCATIONY] [int] NOT NULL,
	[HEIGHT] [int] NOT NULL,
	[WIDTH] [int] NOT NULL,
	[COLOR] [char](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APORTSTATION]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APORTSTATION](
	[PORT_ID] [char](64) NOT NULL,
	[ADR_ID] [char](5) NULL,
	[LD_VH_TYPE] [int] NOT NULL,
	[ULD_VH_TYPE] [int] NOT NULL,
	[PRIORITY] [int] NOT NULL,
	[PORT_TYPE] [int] NOT NULL,
	[PORT_STATUS] [int] NOT NULL,
	[PORT_DIR] [int] NOT NULL,
	[PORT_SERVICE_STATUS] [int] NOT NULL,
	[GROUP_ID] [char](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ARAIL]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARAIL](
	[RAIL_ID] [char](5) NOT NULL,
	[RAILTYPE] [int] NOT NULL,
	[LOCATIONX] [int] NOT NULL,
	[LOCATIONY] [int] NOT NULL,
	[WIDTH] [float] NOT NULL,
	[LENGTH] [float] NOT NULL,
	[COLOR] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ARPTID]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARPTID](
	[RPTID] [char](3) NOT NULL,
	[VID] [char](3) NOT NULL,
	[ORDER_NUM] [int] NOT NULL,
	[NAME] [char](20) NULL,
	[UPD_TIME] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASECTION]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASECTION](
	[SEC_ID] [char](5) NOT NULL,
	[SEG_ORDER_NUM] [int] NOT NULL,
	[SEG_NUM] [char](3) NULL,
	[FROM_ADR_ID] [char](5) NOT NULL,
	[TO_ADR_ID] [char](5) NOT NULL,
	[SEC_DIS] [float] NOT NULL,
	[SEC_SPD] [float] NULL,
	[SEC_TYPE] [int] NOT NULL,
	[SEC_DIR] [int] NOT NULL,
	[LAST_TECH_TIME] [datetime2](7) NULL,
	[SUB_VER] [char](4) NOT NULL,
	[ADD_TIME] [datetime2](7) NULL,
	[ADD_USER] [char](10) NULL,
	[UPD_TIME] [datetime2](7) NULL,
	[UPD_USER] [char](10) NULL,
	[ADR1_CHG_SEC_ID_1] [char](5) NULL,
	[ADR1_CHG_SEC_COST_1] [int] NOT NULL,
	[ADR1_CHG_SEC_ID_2] [char](5) NULL,
	[ADR1_CHG_SEC_COST_2] [int] NOT NULL,
	[ADR1_CHG_SEC_ID_3] [char](5) NULL,
	[ADR1_CHG_SEC_COST_3] [int] NOT NULL,
	[ADR2_CHG_SEC_ID_1] [char](5) NULL,
	[ADR2_CHG_SEC_COST_1] [int] NOT NULL,
	[ADR2_CHG_SEC_ID_2] [char](5) NULL,
	[ADR2_CHG_SEC_COST_2] [int] NOT NULL,
	[ADR2_CHG_SEC_ID_3] [char](5) NULL,
	[ADR2_CHG_SEC_COST_3] [int] NOT NULL,
	[SEC_COST_From2To] [int] NOT NULL,
	[SEC_COST_To2From] [int] NOT NULL,
	[ISBANEND_From2To] [bit] NOT NULL,
	[ISBANEND_To2From] [bit] NOT NULL,
	[STATUS] [int] NOT NULL,
	[NOTE] [nchar](40) NULL,
	[PRE_DISABLE_FLAG] [bit] NOT NULL,
	[PRE_DISABLE_TIME] [datetime] NULL,
	[DISABLE_TIME] [datetime] NULL,
	[DISABLE_FLAG_USER] [bit] NOT NULL,
	[DISABLE_FLAG_SAFETY] [bit] NOT NULL,
	[DISABLE_FLAG_CHARGE] [bit] NOT NULL,
	[DISABLE_FLAG_SYSTEM] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASECTION_CONTROL_100]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASECTION_CONTROL_100](
	[SEC_ID] [char](5) NOT NULL,
	[CHG_AREA_SECSOR_1] [int] NOT NULL,
	[CHG_AREA_SECSOR_2] [int] NOT NULL,
	[OBS_SENSOR_F] [int] NOT NULL,
	[OBS_SENSOR_R] [int] NOT NULL,
	[OBS_SENSOR_L] [int] NOT NULL,
	[RANGE_SENSOR_F] [int] NOT NULL,
	[IS_ADR_RPT] [bit] NOT NULL,
	[CAN_GUIDE_CHG] [bit] NOT NULL,
	[HID_CONTROL] [bit] NOT NULL,
	[BRANCH_FLAG] [bit] NOT NULL,
	[SUB_VER] [char](4) NOT NULL,
	[ADD_TIME] [datetime2](7) NULL,
	[ADD_USER] [char](10) NULL,
	[UPD_TIME] [datetime2](7) NULL,
	[UPD_USER] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASEGMENT]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASEGMENT](
	[SEG_ID] [char](10) NOT NULL,
	[FROM_ADR_ID] [char](5) NOT NULL,
	[TO_ADR_ID] [char](5) NOT NULL,
	[STATUS] [int] NOT NULL,
	[SEG_TYPE] [int] NOT NULL,
	[SEG_RAIL_TYPE] [int] NOT NULL,
	[SPECIAL_MARK] [int] NULL,
	[RESERVE_FIELD] [char](40) NULL,
	[NOTE] [nchar](40) NULL,
	[DIR] [int] NOT NULL,
	[PRE_DISABLE_FLAG] [bit] NOT NULL,
	[PRE_DISABLE_TIME] [datetime2](7) NULL,
	[DISABLE_TIME] [datetime2](7) NULL,
	[ADR1_CHG_SEG_ID_1] [char](5) NULL,
	[ADR1_CHG_SEG_COST_1] [int] NOT NULL,
	[ADR1_CHG_SEG_ID_2] [char](5) NULL,
	[ADR1_CHG_SEG_COST_2] [int] NOT NULL,
	[ADR1_CHG_SEG_ID_3] [char](5) NULL,
	[ADR1_CHG_SEG_COST_3] [int] NOT NULL,
	[ADR2_CHG_SEG_ID_1] [char](5) NULL,
	[ADR2_CHG_SEG_COST_1] [int] NOT NULL,
	[ADR2_CHG_SEG_ID_2] [char](5) NULL,
	[ADR2_CHG_SEG_COST_2] [int] NOT NULL,
	[ADR2_CHG_SEG_ID_3] [char](5) NULL,
	[ADR2_CHG_SEG_COST_3] [int] NOT NULL,
	[SEC_COST_From2To] [int] NOT NULL,
	[SEC_COST_To2From] [int] NOT NULL,
	[ISBANEND_From2To] [bit] NOT NULL,
	[ISBANEND_To2From] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASEQUENCE]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASEQUENCE](
	[SEQ_NAME] [char](15) NOT NULL,
	[NXT_VAL] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASHEET]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASHEET](
	[SHT_ID] [char](20) NOT NULL,
	[JOB_NO] [char](5) NOT NULL,
	[LOT_ID] [char](20) NOT NULL,
	[PROD_ID] [char](20) NULL,
	[SHT_STAT] [char](1) NULL,
	[SOURCE_CST_ID] [char](20) NULL,
	[SOURCE_SLOT_NO] [int] NOT NULL,
	[SOURCE_PORT_NO] [int] NOT NULL,
	[TARGET_CST_ID] [char](20) NULL,
	[TARGET_SLOT_NO] [int] NOT NULL,
	[TARGET_PORT_NO] [int] NOT NULL,
	[PROC_FLAG] [char](8) NULL,
	[SHT_JUDGE] [char](1) NULL,
	[SHT_GRADE] [char](1) NULL,
	[PROC_INFO] [char](8) NULL,
	[PPID] [char](40) NULL,
	[CRATE_ID] [char](20) NULL,
	[TAKE_OUT_STAT] [char](1) NULL,
	[NODE_ID] [char](15) NULL,
	[CST_ID] [char](20) NULL,
	[SLOT_NO] [int] NOT NULL,
	[TAKE_OUT_TIME] [char](16) NULL,
	[SCRAP_CODE] [char](5) NULL,
	[REASON_CODE] [char](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASUB_VER]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASUB_VER](
	[MAIN_VER] [char](4) NOT NULL,
	[VER_TYPE] [int] NOT NULL,
	[SUB_VER] [char](4) NULL,
	[ADD_TIME] [datetime2](7) NULL,
	[ADD_USER] [char](10) NULL,
	[UPD_TIME] [datetime2](7) NULL,
	[UPD_USER] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASYSEXCUTEQUALITY]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASYSEXCUTEQUALITY](
	[CMD_ID_MCS] [char](64) NOT NULL,
	[CMD_INSERT_TIME] [datetime2](7) NOT NULL,
	[CMD_START_TIME] [datetime2](7) NULL,
	[CMD_FINISH_TIME] [datetime2](7) NULL,
	[CMD_FINISH_STATUS] [int] NULL,
	[VH_ID] [char](5) NULL,
	[VH_START_SEC_ID] [char](5) NULL,
	[SOURCE_ADR] [char](64) NULL,
	[SEC_CNT_TO_SOURCE] [int] NOT NULL,
	[SEC_DIS_TO_SOURCE] [int] NOT NULL,
	[DESTINATION_ADR] [char](64) NULL,
	[SEC_CNT_TO_DESTN] [int] NOT NULL,
	[SEC_DIS_TO_DESTN] [int] NOT NULL,
	[CMDQUEUE_TIME] [float] NOT NULL,
	[MOVE_TO_SOURCE_TIME] [float] NOT NULL,
	[TOTAL_BLOCK_TIME_TO_SOURCE] [float] NOT NULL,
	[TOTAL_OCS_TIME_TO_SOURCE] [float] NOT NULL,
	[TOTAL_BLOCK_COUNT_TO_SOURCE] [int] NOT NULL,
	[TOTAL_OCS_COUNT_TO_SOURCE] [int] NOT NULL,
	[MOVE_TO_DESTN_TIME] [float] NOT NULL,
	[TOTAL_BLOCK_TIME_TO_DESTN] [float] NOT NULL,
	[TOTAL_OCS_TIME_TO_DESTN] [float] NOT NULL,
	[TOTAL_BLOCK_COUNT_TO_DESTN] [int] NOT NULL,
	[TOTAL_OCS_COUNT_TO_DESTN] [int] NOT NULL,
	[TOTALPAUSE_TIME] [float] NOT NULL,
	[CMD_TOTAL_EXCUTION_TIME] [float] NOT NULL,
	[TOTAL_ACT_VH_COUNT] [int] NOT NULL,
	[PARKING_VH_COUNT] [int] NOT NULL,
	[CYCLERUN_VH_COUNT] [int] NOT NULL,
	[TOTAL_IDLE_VH_COUNT] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATRACEITEM]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATRACEITEM](
	[TRACE_ID] [char](2) NOT NULL,
	[SVID] [char](5) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATRACESET]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATRACESET](
	[TRACE_ID] [char](2) NOT NULL,
	[SMP_PERIOD] [char](6) NULL,
	[SMP_PERIOD_SEC] [bigint] NOT NULL,
	[TOTAL_SMP_CNT] [int] NOT NULL,
	[SMP_CNT] [int] NOT NULL,
	[NX_SMP_TIME] [smalldatetime] NOT NULL,
	[SMP_TIME] [smalldatetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUNIT]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUNIT](
	[UNIT_ID] [char](15) NOT NULL,
	[UNIT_NUM] [int] NOT NULL,
	[EQPT_ID] [char](15) NOT NULL,
	[UNIT_CATE] [char](1) NOT NULL,
	[EQPT_TYPE] [char](1) NOT NULL,
	[CAPACITY] [int] NOT NULL,
	[UNIT_STAT] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AVEHICLE]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AVEHICLE](
	[VEHICLE_ID] [char](5) NOT NULL,
	[VEHICLE_TYPE] [int] NOT NULL,
	[VEHICLE_ACC_DIST] [int] NOT NULL,
	[MANT_ACC_DIST] [int] NOT NULL,
	[MANT_DATE] [datetime2](7) NULL,
	[GRIP_COUNT] [int] NOT NULL,
	[GRIP_MANT_COUNT] [int] NOT NULL,
	[GRIP_MANT_DATE] [datetime2](7) NULL,
	[LAST_FULLY_CHARGED_TIME] [datetime2](7) NULL,
	[IS_INSTALLED] [bit] NOT NULL,
	[INSTALLED_TIME] [datetime2](7) NULL,
	[REMOVED_TIME] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AVEHICLE_CONTROL_100]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AVEHICLE_CONTROL_100](
	[VEHICLE_ID] [char](5) NOT NULL,
	[GUIDE_START_STOP_SPEED] [int] NOT NULL,
	[GUIDE_MAX_SPD] [int] NOT NULL,
	[GUIDE_ACCEL_DECCEL_TIME] [int] NOT NULL,
	[GUIDE_S_CURVE_RATE] [int] NOT NULL,
	[GUIDE_RUN_SPD] [int] NOT NULL,
	[GUIDE_MANUAL_HIGH_SPD] [int] NOT NULL,
	[GUIDE_MANUAL_LOW_SPD] [int] NOT NULL,
	[GUIDE_LF_LOCK_POSITION] [int] NOT NULL,
	[GUIDE_LB_LOCK_POSITION] [int] NOT NULL,
	[GUIDE_RF_LOCK_POSITION] [int] NOT NULL,
	[GUIDE_RB_LOCK_POSITION] [int] NOT NULL,
	[GUIDE_CHG_STABLE_TIME] [int] NOT NULL,
	[TRAVEL_RESOLUTION] [int] NOT NULL,
	[TRAVEL_START_STOP_SPEED] [int] NOT NULL,
	[TRAVEL_MAX_SPD] [int] NOT NULL,
	[TRAVEL_ACCEL_DECCEL_TIME] [int] NOT NULL,
	[TRAVEL_S_CURVE_RATE] [int] NOT NULL,
	[TRAVEL_HOME_DIR] [int] NOT NULL,
	[TRAVEL_HOME_SPD] [int] NOT NULL,
	[TRAVEL_KEEP_DIS_SPD] [int] NOT NULL,
	[TRAVEL_MANUAL_HIGH_SPD] [int] NOT NULL,
	[TRAVEL_MANUAL_LOW_SPD] [int] NOT NULL,
	[TRAVEL_TEACHING_SPD] [int] NOT NULL,
	[TRAVEL_TRAVEL_DIR] [int] NOT NULL,
	[TRAVEL_ENCODER_POLARITY] [int] NOT NULL,
	[TRAVEL_F_DIR_LIMIT] [int] NOT NULL,
	[TRAVEL_R_DIR_LIMIT] [int] NOT NULL,
	[TRAVEL_OBS_DETECT_LONG] [int] NOT NULL,
	[TRAVEL_OBS_DETECT_SHORT] [int] NOT NULL,
	[SUB_VER] [char](4) NOT NULL,
	[ADD_TIME] [datetime2](7) NULL,
	[ADD_USER] [char](10) NULL,
	[UPD_TIME] [datetime2](7) NULL,
	[UPD_USER] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AZONE]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AZONE](
	[ZONE_ID] [char](15) NOT NULL,
	[LINE_ID] [char](15) NULL,
	[LOT_ID] [char](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BCSTAT]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BCSTAT](
	[BC_ID] [char](10) NOT NULL,
	[CLOSE_MODE] [char](1) NOT NULL,
	[RUN_TIMESTAMP] [char](16) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BLOCKZONEQUEUE]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BLOCKZONEQUEUE](
	[ENTRY_SEC_ID] [nchar](5) NOT NULL,
	[CAR_ID] [nchar](10) NOT NULL,
	[REQ_TIME] [datetime2](7) NOT NULL,
	[BLOCK_TIME] [datetime2](7) NULL,
	[THROU_TIME] [datetime2](7) NULL,
	[RELEASE_TIME] [datetime2](7) NULL,
	[STATUS] [char](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTROL_DATA]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTROL_DATA](
	[T1] [int] NOT NULL,
	[T2] [int] NOT NULL,
	[T3] [int] NOT NULL,
	[T4] [int] NOT NULL,
	[T5] [int] NOT NULL,
	[T6] [int] NOT NULL,
	[T7] [int] NOT NULL,
	[T8] [int] NOT NULL,
	[BLOCK_REQ_TIME_OUT] [int] NOT NULL,
	[SUB_VER] [char](4) NOT NULL,
	[ADD_TIME] [smalldatetime] NULL,
	[ADD_USER] [char](10) NULL,
	[UPD_TIME] [smalldatetime] NULL,
	[UPD_USER] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HASHEET]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HASHEET](
	[SEQ_NO] [nvarchar](255) NOT NULL,
	[T_STAMP] [char](19) NULL,
	[SHT_ID] [char](20) NULL,
	[JOB_NO] [char](5) NOT NULL,
	[LOT_ID] [char](20) NOT NULL,
	[PROD_ID] [char](20) NULL,
	[SHT_STAT] [char](1) NULL,
	[SOURCE_CST_ID] [char](20) NULL,
	[SOURCE_SLOT_NO] [int] NOT NULL,
	[SOURCE_PORT_NO] [int] NOT NULL,
	[TARGET_CST_ID] [char](20) NULL,
	[TARGET_SLOT_NO] [int] NOT NULL,
	[TARGET_PORT_NO] [int] NOT NULL,
	[PROC_FLAG] [char](8) NULL,
	[SHT_JUDGE] [char](1) NULL,
	[SHT_GRADE] [char](1) NULL,
	[PROC_INFO] [char](8) NULL,
	[PPID] [char](40) NULL,
	[CRATE_ID] [char](20) NULL,
	[TAKE_OUT_STAT] [char](1) NULL,
	[NODE_ID] [char](15) NULL,
	[CST_ID] [char](20) NULL,
	[SLOT_NO] [int] NOT NULL,
	[TAKE_OUT_TIME] [char](16) NULL,
	[SCRAP_CODE] [char](5) NULL,
	[REASON_CODE] [char](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HCMD]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HCMD](
	[ID] [char](64) NOT NULL,
	[VH_ID] [char](5) NULL,
	[CARRIER_ID] [char](64) NULL,
	[TRANSFER_ID] [char](64) NULL,
	[CMD_TYPE] [int] NULL,
	[SOURCE] [char](64) NULL,
	[DESTINATION] [char](64) NULL,
	[PRIORITY] [int] NULL,
	[CMD_INSER_TIME] [datetime2](7) NOT NULL,
	[CMD_START_TIME] [datetime2](7) NULL,
	[CMD_END_TIME] [datetime2](7) NULL,
	[CMD_STATUS] [int] NULL,
	[CMD_PROGRESS] [int] NULL,
	[INTERRUPTED_REASON] [int] NULL,
	[ESTIMATED_TIME] [int] NULL,
	[ESTIMATED_EXCESS_TIME] [int] NULL,
	[SOURCE_PORT] [char](64) NULL,
	[DESTINATION_PORT] [char](64) NULL,
	[COMPLETE_STATUS] [int] NULL,
 CONSTRAINT [PK_HCMD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[CMD_INSER_TIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPERATION]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPERATION](
	[SEQ_NO] [nvarchar](255) NOT NULL,
	[T_STAMP] [char](19) NULL,
	[USER_ID] [char](20) NULL,
	[FORM_NAME] [char](30) NULL,
	[ACTION] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HTRANSFER]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HTRANSFER](
	[ID] [char](64) NOT NULL,
	[CARRIER_ID] [char](64) NOT NULL,
	[LOT_ID] [char](64) NULL,
	[TRANSFERSTATE] [int] NOT NULL,
	[COMMANDSTATE] [int] NOT NULL,
	[HOSTSOURCE] [char](64) NULL,
	[HOSTDESTINATION] [char](64) NOT NULL,
	[PRIORITY] [int] NOT NULL,
	[CHECKCODE] [char](2) NOT NULL,
	[PAUSEFLAG] [char](1) NOT NULL,
	[CMD_INSER_TIME] [datetime2](7) NOT NULL,
	[CMD_START_TIME] [datetime2](7) NULL,
	[CMD_FINISH_TIME] [datetime2](7) NULL,
	[TIME_PRIORITY] [int] NOT NULL,
	[PORT_PRIORITY] [int] NOT NULL,
	[REPLACE] [int] NOT NULL,
	[PRIORITY_SUM] [int] NOT NULL,
	[EXCUTE_CMD_ID] [char](64) NULL,
	[RESULT_CODE] [char](2) NULL,
 CONSTRAINT [PK_HTRANSFER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[CMD_INSER_TIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVEHIS]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVEHIS](
	[ID] [char](64) NOT NULL,
	[CARRIER_ID] [char](64) NOT NULL,
	[LOT_ID] [char](64) NULL,
	[TRANSFERSTATE] [int] NOT NULL,
	[COMMANDSTATE] [int] NOT NULL,
	[HOSTSOURCE] [char](64) NULL,
	[HOSTDESTINATION] [char](64) NOT NULL,
	[PRIORITY] [int] NOT NULL,
	[CHECKCODE] [char](2) NOT NULL,
	[PAUSEFLAG] [char](1) NOT NULL,
	[CMD_INSER_TIME] [datetime2](7) NOT NULL,
	[CMD_START_TIME] [datetime2](7) NULL,
	[CMD_FINISH_TIME] [datetime2](7) NULL,
	[TIME_PRIORITY] [int] NOT NULL,
	[PORT_PRIORITY] [int] NOT NULL,
	[REPLACE] [int] NOT NULL,
	[PRIORITY_SUM] [int] NOT NULL,
	[EXCUTE_CMD_ID] [char](64) NULL,
	[RESULT_CODE] [char](2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCALE_BASE_DATA]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCALE_BASE_DATA](
	[RESOLUTION] [int] NOT NULL,
	[INPOSITION_AREA] [int] NOT NULL,
	[INPOSITION_STABLE_TIME] [int] NOT NULL,
	[TOTAL_SCALE_PULSE] [int] NOT NULL,
	[SCALE_OFFSET] [int] NOT NULL,
	[SCALE_RESE_DIST] [int] NOT NULL,
	[READ_DIR] [int] NOT NULL,
	[SUB_VER] [char](4) NOT NULL,
	[ADD_TIME] [smalldatetime] NULL,
	[ADD_USER] [char](10) NULL,
	[UPD_TIME] [smalldatetime] NULL,
	[UPD_USER] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UASFNC]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UASFNC](
	[FUNC_CODE] [char](60) NOT NULL,
	[FUNC_NAME] [char](80) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UASUFNC]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UASUFNC](
	[USER_GRP] [char](20) NOT NULL,
	[FUNC_CODE] [char](60) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UASUSR]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UASUSR](
	[USER_ID] [char](20) NOT NULL,
	[PASSWD] [varchar](max) NULL,
	[BADGE_NUMBER] [char](80) NULL,
	[USER_NAME] [char](30) NULL,
	[DISABLE_FLG] [char](1) NULL,
	[POWER_USER_FLG] [char](1) NULL,
	[ADMIN_FLG] [char](1) NULL,
	[USER_GRP] [char](20) NULL,
	[DEPARTMENT] [char](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UASUSRGRP]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UASUSRGRP](
	[USER_GRP] [char](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VSECTION_100]    Script Date: 2020/12/9 16:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VSECTION_100](
	[SEC_ID] [char](5) NOT NULL,
	[SEC_ORDER_NUM] [int] NULL,
	[SEG_ORDER_NUM] [int] NOT NULL,
	[DIRC_DRIV] [int] NOT NULL,
	[DIRC_GUID] [int] NOT NULL,
	[SEG_NUM] [char](3) NULL,
	[FROM_ADR_ID] [char](5) NULL,
	[TO_ADR_ID] [char](5) NULL,
	[SEC_DIS] [float] NOT NULL,
	[SEC_SPD] [float] NULL,
	[DIS_FROM_ORIGIN] [int] NOT NULL,
	[CDOG_1] [int] NOT NULL,
	[CHG_SEG_NUM_1] [char](3) NULL,
	[CDOG_2] [int] NOT NULL,
	[CHG_SEG_NUM_2] [char](3) NULL,
	[PRE_BLO_REQ] [int] NOT NULL,
	[SEC_TYPE] [int] NOT NULL,
	[SEC_DIR] [int] NOT NULL,
	[PADDING] [int] NOT NULL,
	[ENB_CHG_G_AREA] [int] NOT NULL,
	[PRE_DIV] [int] NOT NULL,
	[PRE_ADD_REPR] [int] NOT NULL,
	[OBS_SENSOR] [int] NOT NULL,
	[SUB_VER] [char](4) NOT NULL,
	[ADD_TIME] [smalldatetime] NULL,
	[ADD_USER] [char](10) NULL,
	[UPD_TIME] [smalldatetime] NULL,
	[UPD_USER] [char](10) NULL,
	[START_BC1] [int] NOT NULL,
	[END_BC1] [int] NOT NULL,
	[START_BC2] [int] NOT NULL,
	[END_BC2] [int] NOT NULL,
	[START_BC3] [int] NOT NULL,
	[END_BC3] [int] NOT NULL,
	[CHG_AREA_SECSOR_1] [int] NOT NULL,
	[CHG_AREA_SECSOR_2] [int] NOT NULL,
	[OBS_SENSOR_F] [int] NOT NULL,
	[OBS_SENSOR_R] [int] NOT NULL,
	[OBS_SENSOR_L] [int] NOT NULL,
	[RANGE_SENSOR_F] [int] NOT NULL,
	[IS_ADR_RPT] [bit] NOT NULL,
	[CAN_GUIDE_CHG] [bit] NOT NULL,
	[HID_CONTROL] [bit] NOT NULL,
	[BRANCH_FLAG] [bit] NOT NULL,
	[AREA_SECSOR] [int] NULL,
	[LAST_TECH_TIME] [smalldatetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[AADDRESS] ([ADR_ID], [ADRTYPE], [SEC_ID], [DISTANCE], [P_LOCATION], [IS_DISPLAY], [ZOOM_LV], [PORT1_ID], [P1_LD_VH_TYPE], [P1_ULD_VH_TYPE], [PORT2_ID], [P2_LD_VH_TYPE], [P2_ULD_VH_TYPE], [NODE_ID], [ADR1_DIS], [ADR2_DIS]) VALUES (N'24001', 1, NULL, 0, N'0         ', 1, 10, NULL, 0, 0, NULL, 0, 0, N'0    ', 0, 0)
INSERT [dbo].[AADDRESS] ([ADR_ID], [ADRTYPE], [SEC_ID], [DISTANCE], [P_LOCATION], [IS_DISPLAY], [ZOOM_LV], [PORT1_ID], [P1_LD_VH_TYPE], [P1_ULD_VH_TYPE], [PORT2_ID], [P2_LD_VH_TYPE], [P2_ULD_VH_TYPE], [NODE_ID], [ADR1_DIS], [ADR2_DIS]) VALUES (N'48002', 0, NULL, 0, N'0         ', 1, 10, NULL, 0, 0, NULL, 0, 0, N'0    ', 0, 0)
INSERT [dbo].[AADDRESS] ([ADR_ID], [ADRTYPE], [SEC_ID], [DISTANCE], [P_LOCATION], [IS_DISPLAY], [ZOOM_LV], [PORT1_ID], [P1_LD_VH_TYPE], [P1_ULD_VH_TYPE], [PORT2_ID], [P2_LD_VH_TYPE], [P2_ULD_VH_TYPE], [NODE_ID], [ADR1_DIS], [ADR2_DIS]) VALUES (N'48003', 0, NULL, 0, N'0         ', 1, 10, NULL, 0, 0, NULL, 0, 0, N'0    ', 0, 0)
GO
INSERT [dbo].[ACEID] ([CEID], [RPTID], [ORDER_NUM], [NAME], [UPD_TIME]) VALUES (N'002', N'17 ', 1, NULL, NULL)
INSERT [dbo].[ACEID] ([CEID], [RPTID], [ORDER_NUM], [NAME], [UPD_TIME]) VALUES (N'051', N'18 ', 1, NULL, NULL)
INSERT [dbo].[ACEID] ([CEID], [RPTID], [ORDER_NUM], [NAME], [UPD_TIME]) VALUES (N'052', N'18 ', 1, NULL, NULL)
GO
INSERT [dbo].[AEQPT] ([EQPT_ID], [NODE_ID], [CIM_MODE], [OPER_MODE], [INLINE_MODE], [EQPT_STAT], [EQPT_PROC_STAT], [CR_RECIPE], [MAX_SHT_CNT], [MIN_SHT_CNT], [ALARM_STAT], [WARN_STAT]) VALUES (N'MCharger       ', N'CHARGE_NODE    ', N' ', N' ', N' ', N' ', N' ', NULL, 0, 0, NULL, NULL)
GO
INSERT [dbo].[AGROUPPORTSTATION] ([GROUP_ID], [TYPE]) VALUES (N'GROUP1              ', 2)
INSERT [dbo].[AGROUPPORTSTATION] ([GROUP_ID], [TYPE]) VALUES (N'GROUP2              ', 2)
GO
INSERT [dbo].[AGROUPRAILS] ([SECTION_ID], [RAIL_ID], [RAIL_NO], [DIR]) VALUES (N'0011 ', N'0001 ', 1, 1)
INSERT [dbo].[AGROUPRAILS] ([SECTION_ID], [RAIL_ID], [RAIL_NO], [DIR]) VALUES (N'0021 ', N'0002 ', 1, 1)
INSERT [dbo].[AGROUPRAILS] ([SECTION_ID], [RAIL_ID], [RAIL_NO], [DIR]) VALUES (N'0022 ', N'0003 ', 1, 1)
GO
INSERT [dbo].[ALINE] ([LINE_ID], [HOST_MODE], [LINE_STAT]) VALUES (N'AAAGV600       ', 0, 0)
GO
INSERT [dbo].[ANODE] ([NODE_ID], [ZONE_ID]) VALUES (N'AGV_NODE       ', N'AGV_ZONE       ')
INSERT [dbo].[ANODE] ([NODE_ID], [ZONE_ID]) VALUES (N'EQ_NODE        ', N'AGV_ZONE       ')
INSERT [dbo].[ANODE] ([NODE_ID], [ZONE_ID]) VALUES (N'MTL_NODE       ', N'OHS_ZONE       ')
GO
INSERT [dbo].[APOINT] ([POINT_ID], [ADR_ID], [RAIL_ID], [POINTTYPE], [LOCATIONX], [LOCATIONY], [HEIGHT], [WIDTH], [COLOR]) VALUES (N'24001', N'24001', NULL, 1, 105, 575, 6, 6, N'FFDCDCDC  ')
INSERT [dbo].[APOINT] ([POINT_ID], [ADR_ID], [RAIL_ID], [POINTTYPE], [LOCATIONX], [LOCATIONY], [HEIGHT], [WIDTH], [COLOR]) VALUES (N'48002', N'48002', NULL, 1, 105, 525, 6, 6, N'FFDCDCDC  ')
INSERT [dbo].[APOINT] ([POINT_ID], [ADR_ID], [RAIL_ID], [POINTTYPE], [LOCATIONX], [LOCATIONY], [HEIGHT], [WIDTH], [COLOR]) VALUES (N'48003', N'48003', NULL, 1, 765, 525, 6, 6, N'FFDCDCDC  ')
GO
INSERT [dbo].[APORTSTATION] ([PORT_ID], [ADR_ID], [LD_VH_TYPE], [ULD_VH_TYPE], [PRIORITY], [PORT_TYPE], [PORT_STATUS], [PORT_DIR], [PORT_SERVICE_STATUS], [GROUP_ID]) VALUES (N'PORT1                                                           ', N'10001', 0, 0, 0, 0, 3, 0, 0, NULL)
INSERT [dbo].[APORTSTATION] ([PORT_ID], [ADR_ID], [LD_VH_TYPE], [ULD_VH_TYPE], [PRIORITY], [PORT_TYPE], [PORT_STATUS], [PORT_DIR], [PORT_SERVICE_STATUS], [GROUP_ID]) VALUES (N'PORT2                                                           ', N'10002', 0, 0, 0, 0, 3, 0, 0, NULL)
INSERT [dbo].[APORTSTATION] ([PORT_ID], [ADR_ID], [LD_VH_TYPE], [ULD_VH_TYPE], [PRIORITY], [PORT_TYPE], [PORT_STATUS], [PORT_DIR], [PORT_SERVICE_STATUS], [GROUP_ID]) VALUES (N'PORT3                                                           ', N'10003', 0, 0, 0, 0, 3, 0, 0, NULL)
GO
INSERT [dbo].[ARAIL] ([RAIL_ID], [RAILTYPE], [LOCATIONX], [LOCATIONY], [WIDTH], [LENGTH], [COLOR]) VALUES (N'0001 ', 0, 100, 520, 10, 23000, N'FF0080FF  ')
INSERT [dbo].[ARAIL] ([RAIL_ID], [RAILTYPE], [LOCATIONX], [LOCATIONY], [WIDTH], [LENGTH], [COLOR]) VALUES (N'0002 ', 1, 760, 390, 10, 4800, N'FF0080FF  ')
INSERT [dbo].[ARAIL] ([RAIL_ID], [RAILTYPE], [LOCATIONX], [LOCATIONY], [WIDTH], [LENGTH], [COLOR]) VALUES (N'0003 ', 1, 760, 100, 10, 10250, N'FF0080FF  ')
GO
INSERT [dbo].[ARPTID] ([RPTID], [VID], [ORDER_NUM], [NAME], [UPD_TIME]) VALUES (N'1  ', N'70 ', 1, NULL, NULL)
INSERT [dbo].[ARPTID] ([RPTID], [VID], [ORDER_NUM], [NAME], [UPD_TIME]) VALUES (N'2  ', N'59 ', 1, NULL, NULL)
INSERT [dbo].[ARPTID] ([RPTID], [VID], [ORDER_NUM], [NAME], [UPD_TIME]) VALUES (N'2  ', N'301', 2, NULL, NULL)
GO
INSERT [dbo].[AUNIT] ([UNIT_ID], [UNIT_NUM], [EQPT_ID], [UNIT_CATE], [EQPT_TYPE], [CAPACITY], [UNIT_STAT]) VALUES (N'Charger1       ', 1, N'Charger        ', N'C', N'T', 1, 0)
INSERT [dbo].[AUNIT] ([UNIT_ID], [UNIT_NUM], [EQPT_ID], [UNIT_CATE], [EQPT_TYPE], [CAPACITY], [UNIT_STAT]) VALUES (N'Charger10      ', 10, N'MCharger       ', N'C', N'T', 1, 0)
INSERT [dbo].[AUNIT] ([UNIT_ID], [UNIT_NUM], [EQPT_ID], [UNIT_CATE], [EQPT_TYPE], [CAPACITY], [UNIT_STAT]) VALUES (N'Charger2       ', 2, N'MCharger       ', N'C', N'T', 1, 0)
GO
INSERT [dbo].[AVEHICLE] ([VEHICLE_ID], [VEHICLE_TYPE], [VEHICLE_ACC_DIST], [MANT_ACC_DIST], [MANT_DATE], [GRIP_COUNT], [GRIP_MANT_COUNT], [GRIP_MANT_DATE], [LAST_FULLY_CHARGED_TIME], [IS_INSTALLED], [INSTALLED_TIME], [REMOVED_TIME]) VALUES (N'AGV01', 0, 0, 0, NULL, 0, 0, NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[AVEHICLE] ([VEHICLE_ID], [VEHICLE_TYPE], [VEHICLE_ACC_DIST], [MANT_ACC_DIST], [MANT_DATE], [GRIP_COUNT], [GRIP_MANT_COUNT], [GRIP_MANT_DATE], [LAST_FULLY_CHARGED_TIME], [IS_INSTALLED], [INSTALLED_TIME], [REMOVED_TIME]) VALUES (N'AGV02', 0, 0, 0, NULL, 0, 0, NULL, CAST(N'2020-08-07T13:56:31.5217261' AS DateTime2), 1, CAST(N'2020-08-05T13:13:42.5802725' AS DateTime2), CAST(N'2020-08-05T12:22:50.2229985' AS DateTime2))
INSERT [dbo].[AVEHICLE] ([VEHICLE_ID], [VEHICLE_TYPE], [VEHICLE_ACC_DIST], [MANT_ACC_DIST], [MANT_DATE], [GRIP_COUNT], [GRIP_MANT_COUNT], [GRIP_MANT_DATE], [LAST_FULLY_CHARGED_TIME], [IS_INSTALLED], [INSTALLED_TIME], [REMOVED_TIME]) VALUES (N'AGV03', 0, 0, 0, NULL, 0, 0, NULL, CAST(N'2020-08-05T14:35:34.6978864' AS DateTime2), 1, CAST(N'2020-08-14T10:14:22.8035513' AS DateTime2), NULL)
GO
INSERT [dbo].[AZONE] ([ZONE_ID], [LINE_ID], [LOT_ID]) VALUES (N'AGV_ZONE       ', N'AGV_LINE       ', NULL)
INSERT [dbo].[AZONE] ([ZONE_ID], [LINE_ID], [LOT_ID]) VALUES (N'EQ_ZONE1       ', N'AAAGV600       ', NULL)
INSERT [dbo].[AZONE] ([ZONE_ID], [LINE_ID], [LOT_ID]) VALUES (N'EQ_ZONE2       ', N'AAAGV600       ', NULL)
GO
INSERT [dbo].[CONTROL_DATA] ([T1], [T2], [T3], [T4], [T5], [T6], [T7], [T8], [BLOCK_REQ_TIME_OUT], [SUB_VER], [ADD_TIME], [ADD_USER], [UPD_TIME], [UPD_USER]) VALUES (30, 30, 30, 30, 30, 30, 30, 30, 13, N'    ', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[SCALE_BASE_DATA] ([RESOLUTION], [INPOSITION_AREA], [INPOSITION_STABLE_TIME], [TOTAL_SCALE_PULSE], [SCALE_OFFSET], [SCALE_RESE_DIST], [READ_DIR], [SUB_VER], [ADD_TIME], [ADD_USER], [UPD_TIME], [UPD_USER]) VALUES (105, 20000, 20, 6000, 0, 200, 1, N'    ', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[UASFNC] ([FUNC_CODE], [FUNC_NAME]) VALUES (N'FUNC_ENGINEER_FUN                                           ', N'Engineer Fun                                                                    ')
INSERT [dbo].[UASFNC] ([FUNC_CODE], [FUNC_NAME]) VALUES (N'FUNC_HIGHT_LEVEL_ACTION                                     ', N'Hight level ation (Load/Unload/Load Unload...)                                  ')
INSERT [dbo].[UASFNC] ([FUNC_CODE], [FUNC_NAME]) VALUES (N'FUNC_MAINTENANCE_FUN                                        ', N'Maintenance fun                                                                 ')
GO
INSERT [dbo].[UASUFNC] ([USER_GRP], [FUNC_CODE]) VALUES (N'ADMIN               ', N'FUNC_CLOSE_MASTER_PC                                        ')
INSERT [dbo].[UASUFNC] ([USER_GRP], [FUNC_CODE]) VALUES (N'ADMIN               ', N'FUNC_ENGINEER_FUN                                           ')
INSERT [dbo].[UASUFNC] ([USER_GRP], [FUNC_CODE]) VALUES (N'ADMIN               ', N'FUNC_HIGHT_LEVEL_ACTION                                     ')
GO
INSERT [dbo].[UASUSR] ([USER_ID], [PASSWD], [BADGE_NUMBER], [USER_NAME], [DISABLE_FLG], [POWER_USER_FLG], [ADMIN_FLG], [USER_GRP], [DEPARTMENT]) VALUES (N'ADMIN               ', N'ADMIN', N'123456                                                                          ', N'ADMI                          ', N'N', N'N', N'N', N'ADMIN               ', N'                    ')
INSERT [dbo].[UASUSR] ([USER_ID], [PASSWD], [BADGE_NUMBER], [USER_NAME], [DISABLE_FLG], [POWER_USER_FLG], [ADMIN_FLG], [USER_GRP], [DEPARTMENT]) VALUES (N'ENG                 ', N'asek21', N'123456                                                                          ', N'ENG                           ', N'N', N'N', N'N', N'ENG                 ', N'                    ')
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ATRANSFER"
            Begin Extent = 
               Top = 6
               Left = 539
               Bottom = 136
               Right = 742
            End
            DisplayFlags = 280
            TopColumn = 15
         End
         Begin Table = "ACARRIER"
            Begin Extent = 
               Top = 181
               Left = 78
               Bottom = 308
               Right = 264
            End
            DisplayFlags = 280
            TopColumn = 7
         End
         Begin Table = "ACMD"
            Begin Extent = 
               Top = 34
               Left = 62
               Bottom = 164
               Right = 301
            End
            DisplayFlags = 280
            TopColumn = 15
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1680
         Alias = 2070
         Table = 1260
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VTRANSFER'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VTRANSFER'
GO
USE [master]
GO
